@import '~variables.scss';

.tf-icon {
  height: 25px;
  padding-left: 5px;
  width: 100%;
}

.betta-icon {
  color: white;
  font-family: serif;
  font-size: 20px;
  margin-left: -3px;
  padding-right: 10px;
}

.toolbar-icon {
  padding: 0 14px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.login-button {
  cursor: pointer;
}

.mat-toolbar {
  width: 100%;
  height: $toolbar-height;
  padding: 0;
  user-select: none;
  //background: rgba(255, 255, 255, 0.75);
  background: transparent;
  color: black;

  a {
    text-decoration: none;

    * {
      vertical-align: middle;
    }

  }
}



mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.logo {
  background-color: black;
  padding-right: 10px;
  height: 100%;
}

.toolbar-left {
  height: 100%;
  width: 150px;
}

@media only screen and (max-width: 700px) {
  .mat-toolbar {
    height: $toolbar-height-mobile;
    background: black;
  }


  button {
    height: $toolbar-height-mobile;
  }

}
