$tool-bar-height: 5vh;

.tf-icon {
  height: 4vh;
  margin-left: 10px;
}

.betta-icon {
  color: white;
  font-family: serif;
  font-size: 3vh;
}

.toolbar-icon {
  padding: 0 14px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.login-button {
  cursor: pointer;
}

.mat-toolbar {
  width: 100%;
  height: $tool-bar-height;
  padding-right: 0;
  user-select: none;
  //background: rgba(255, 255, 255, 0.75);
  background: rgba(0, 0, 0, 1);
  color: black;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);

  a {
    text-decoration: none;

    * {
      vertical-align: middle;
    }

  }

  button {
    background-color: rgb(103, 58, 183);
    height: $tool-bar-height;
    border-radius: 0;
    margin-right: 0;
    text-align: center;
    line-height: initial;
    color: white;
  }
}

.menu-button {
  margin-left: -10px;
}

.user-profile-corner-button {
  //text-shadow: 0 0 10px #ff0000;
  //text-shadow: 0 0 20px #ffffff, 3px 3px 20px #ffffff;
  color: white;
  //text-shadow: 0 0 2px #ffffff;
}

mat-toolbar {
  //margin-left: 10px !important;
  padding-left: 10px !important;
  position: relative;
  z-index: 100;
}

@media only screen and (max-width: 600px) {
  .mat-toolbar {
    height: 40px !important;
  }

  .tf-icon {
    height: 30px !important;
  }

  button {
    height: 40px !important;
  }

  .betta-icon {
    font-size: 25px !important;
  }
}
