<mat-toolbar>
  <button mat-icon-button id='menuButtonHamburger' class="menu-button" (click)="sidenav.toggle()">
    <mat-icon >menu</mat-icon>
  </button>￼

  <a routerLink="">
    <img
      vertical-align="middle"
      src="assets/images/TopicFriendsLogo4.svg"
      class="tf-icon"
    >
    <span
    class="betta-icon">
      &nbsp;β
    </span>
  </a>
  <span class="toolbar-spacer"></span>
  <button id='login-or-sign-up-corner-button'
          class="user-profile-corner-button" *ngIf="!(authService.user | async)?.email " mat-button (click)="openDialog()">Log in or Sign Up</button>
  <button
    class="user-profile-corner-button" *ngIf="(authService.user | async)?.displayName || (authService.user | async)?.email" mat-button [matMenuTriggerFor]="menu">{{ ((authService.user | async)?.displayName) || ((authService.user | async)?.email) }}</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/profile" routerLinkActive="active">Profile</button>
    <button mat-menu-item (click)="authService.logout()">Log out</button>
  </mat-menu>
</mat-toolbar>



