<mat-toolbar>
  <a routerLink="">
    <img
      vertical-align="middle"
      src="assets/images/TopicFriendsLogo4.svg"
      class="tf-icon"
    >
    <span
    class="betta-icon">
      &nbsp;β
    </span>
  </a>
  <span class="toolbar-spacer"></span>
  <button class="user-profile-corner-button" *ngIf="!(authService.user | async)?.displayName" mat-button (click)="onLogInClick()">Log in</button>
  <button class="user-profile-corner-button" *ngIf="(authService.user | async)?.displayName" mat-button [matMenuTriggerFor]="menu">{{ (authService.user | async)?.displayName }}</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/profile" routerLinkActive="active">Profile</button>
    <button mat-menu-item (click)="authService.logout()">Log out</button>
  </mat-menu>
</mat-toolbar>

<p-dialog [(visible)]="display" header="Log in ">
  <app-login></app-login>
</p-dialog>



