

.toolbar-icon {
  padding: 0 14px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.login-button{
    cursor: pointer;
}

.mat-toolbar {
    user-select: none;
    //background: rgba(255, 255, 255, 0.75);
    background: rgba(0,0,0, 1);
    color: black;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);

    a {
      text-decoration: none;

      * {
         vertical-align: middle;
       }

    }
}

button {
  //text-shadow: 0 0 10px #ff0000;
  //text-shadow: 0 0 20px #ffffff, 3px 3px 20px #ffffff;
  text-shadow: 0 0 20px #ffffff;
}

mat-toolbar {
  //margin-left: 10px !important;
  padding-left: 10px !important;
  position: relative;
  z-index: 100;

}
