<h1>About TopicFriends</h1>
(Formerly PeopleMatcher)
<br>
<br>
This app connects people based on:
<ul>
  <li><b style="text-decoration: underline">Actionable</b> interests (e.g.: would like to do pair programming on
    <app-topic-tag [tag]="angular"></app-topic-tag>
    <app-topic-tag [tag]="ionic"></app-topic-tag>
    <app-topic-tag [tag]="firebase"></app-topic-tag>).
    <ul>
      <li><a routerLink="/topics">See list of topics</a>
        which you can add to your <a routerLink="/profile">User Profile</a></li>
    </ul>
  </li>
  <li>Geo-locations (<a routerLink="/users-map">see Users Map</a>)</li>
  <li>Meetings/meetups attendance (<a routerLink="/meeting-list">see Meetings List</a>)</li>
</ul>

<p>A community project.</p>
<p>
  Open-Source: <a href="https://github.com/karol-depka/NetworkingMatcher">github.com/karol-depka/NetworkingMatcher</a>
</p>

<div class="fb-like" data-href="https://www.facebook.com/TopicFriends/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>

<h2 id="partners">Partners</h2>

<div
  class="partners-container"
  style="display: flex; flex-wrap: wrap; align-items: center">
  <a
    href="https://espiral.io/"
  >
    <img
      class="partner-img"
      style="margin-right: 20px"
      vertical-align="middle"
      src="assets/images/partners/espiral_logo_with_name.png" height="50px"></a>

  <a
    href="https://www.meetup.com/es/Angular-Malaga/"
  >
    <img
      class="partner-img"
      style="margin-right: 20px"
      vertical-align="middle"
      src="assets/images/partners/angularmalaga3.png" height="50px"></a> <!-- Cannot have whitespace before </a> because will display underlined as link -->

  <a
    href="https://growworking.com/"
  >
    <img
      class="partner-img"
      style="margin-right: 20px"
      vertical-align="middle"
      src="assets/images/partners/GrowWorking_Logotipo.svg" height="40px"></a> <!-- Cannot have whitespace before </a> because will display underlined as link -->

  <a
    href="http://ng-poland.pl/"
  >
    <img
      class="partner-img"
      vertical-align="middle"
      src="assets/images/partners/Logo_ngPoland_final_without_date only1.svg" height="90px"></a> <!-- Cannot have whitespace before </a> because will display underlined as link -->

</div>



<h2>Powered by:</h2>
<md-chip-list>
  <app-topic-tag [tag]="angular"></app-topic-tag>
  <app-topic-tag [tag]="angularMaterial"></app-topic-tag>
  <app-topic-tag [tag]="angularFlexLayout"></app-topic-tag>
  <app-topic-tag [tag]="materialDesign"></app-topic-tag>
  <app-topic-tag [tag]="angularFire"></app-topic-tag>
  <app-topic-tag [tag]="typeScript"></app-topic-tag>
  <app-topic-tag [tag]="rxJs"></app-topic-tag>
  <app-topic-tag [tag]="reactiveX"></app-topic-tag>
  <app-topic-tag [tag]="firebase"></app-topic-tag>
  <app-topic-tag [tag]="protractor"></app-topic-tag>
  <app-topic-tag [tag]="karma"></app-topic-tag>
  <app-topic-tag [tag]="jasmine"></app-topic-tag>
  <app-topic-tag [tag]="webpack"></app-topic-tag>
  <app-topic-tag [tag]="npm"></app-topic-tag>
  <app-topic-tag [tag]="sass"></app-topic-tag>
</md-chip-list>

<h2 id="contributors">Contributors and People who attended PeopleMatcher Hackathon (random order) :</h2>

<ul>
  <li>Pablo Ortuño (<a href="https://willimbu.com/">Willimbu</a>)</li>
  <li>Rubén Triviño (<a href="https://willimbu.com/">Willimbu</a>)</li>
  <li>Enrique Arrabal (<a href="https://willimbu.com/">Willimbu</a>)</li>
  <li>Luis José Sánchez (<a href="https://espiral.io/">Espiral</a>)</li>
  <li>Alfredo Martinez (<a href="https://espiral.io/">Espiral</a>)</li>
  <li>Francisco Durán Navarro</li>
  <li>Adrian Lopez</li>
  <li>Antonio David Ponce</li>
  <li>Luis Podadera</li>
  <li>David Bernal Guerrero</li>
  <li>Javier Bernal Guerrero</li>
  <li>Javier Molina</li>
  <li>Javier Matos</li>
  <li>Jesús Estevez</li>
  <li>Anna Niedzialek</li>
  <li>Karol Depka Pradzinski</li>
</ul>

<h2>Looking for volunteers for:</h2>
<ul>
  <li>Integration with Meetup.com
    <ul>
      <li>Attendees list?</li>
      <li>Groups</li>
    </ul>
  </li>
  <li>Integration with LinkedIn.com</li>
  <li>Filling more details/logos for topics</li>
  <li>Social
    <ul>
      <li>Like button</li>
      <li>Social media pages (Twitter, Facebook, LinkedIn, Google+)</li>
      <li>Share/send via social media</li>
    </ul>
  </li>
  <li>Mobile optimizations
    <ul>
      <li>Responsive</li>
      <li>CSS</li>
      <li>Flex, etc.</li>
    </ul>
  </li>
  <li>Stack Overflow integration
    <ul>
      <li>topic tags</li>
      <li>Users</li>
      <li>reputation</li>
    </ul>
  </li>
</ul>

<h2>Voting for a name</h2>
We are <a href="https://ratevote.karoldepka.com/poll/PeopleMatcherName">voting for a name and domain here</a>.

<h2>News</h2>

<ul>
  <li>2017-08-29 - User geo locations and map (thanks to Antonio David Ponce for the initial prototype)</li>
  <li>2017-08-30 - About box</li>
  <li>2017-08-30 - Search box in location picker (thanks to Antonio David Ponce)</li>
  <li>2017-08-30 - User description and "what would you like to accomplish in this app" fields</li>
  <li>2017-08-30 - Clickable topic links and topic details pages</li>
  <li>2017-08-30 - Fixed meeting details not loading the first time</li>
  <li>2017-08-31 - Improved about page and nav-bar icons for People and Meetings</li>
  <li>2017-08-31 - Show count of meeting attendees</li>
  <li>2017-08-31 - User descriptions (text areas)</li>
  <li>2017-09-12 - Alpha.3 release
    <ul>
      <li>Location search field in map location picker dialog (thanks to Antonio David Ponce)</li>
      <li>Warn when trying to close tab or navigate away, when unsaved changes on User Profile</li>
      <li>More location types (hometown, where I visit)</li>
      <li>More interest types (mentor, intern, code review)</li>
      <li>Bugfix: attendant list was not updated correctly on changes</li>
      <li>Internal: big refactors and cleanups, especially related to user profile form</li>
      <li>About component updates</li>
      <li>About component: integration with Facebook (thanks to David Bernal Guerrero)</li>
      <li>Visual tweaks (margins, font sizes, etc.)</li>
    </ul>
  </li>
  <li>2017-09-17
    <ul>
      <li>Added user description to people list item card</li>
      <li>Changed name and logo to TopicFriends, topicfriends.org</li>
      <li>Ability to view profiles of other Users</li>
      <li>Showing User names on the map</li>
      <li>Adding topics by Users</li>
    </ul>
  </li>
  <li>2017-09-26
    <ul>
      <li>Improvements to maps</li>
      <li>Highlight symmetric/same/matching interests of other Users</li>
    </ul>
  </li>
</ul>


