<h1>About PeopleMatcher</h1>

<p>Powered by
  <app-topic-tag [tag]="angular"></app-topic-tag>
  <app-topic-tag [tag]="angularMaterial"></app-topic-tag>
  <app-topic-tag [tag]="materialDesign"></app-topic-tag>
  <app-topic-tag [tag]="angularFire"></app-topic-tag>
  <app-topic-tag [tag]="typeScript"></app-topic-tag>
  <app-topic-tag [tag]="rxJs"></app-topic-tag>
  <app-topic-tag [tag]="reactiveX"></app-topic-tag>
  <app-topic-tag [tag]="firebase"></app-topic-tag>.
</p>

This app connects people based on
<ul>
  <li>Actionable interests (e.g.: would like to do pair programming on
    <app-topic-tag [tag]="angular"></app-topic-tag>
    <app-topic-tag [tag]="ionic"></app-topic-tag>
    <app-topic-tag [tag]="firebase"></app-topic-tag>)
  </li>
  <!-- TODO: makes those topics look like tags -->
  <li>Geo-locations</li>
  <li>Meetings/meetups attendance</li>
</ul>

<p>A community project.</p>
<p>
  Open-Source: <a href="https://github.com/karol-depka/NetworkingMatcher">github.com/karol-depka/NetworkingMatcher</a>
</p>

<h2>Contributors (random order) :</h2>

<ul>
  <li>Pablo Ortuño (<a href="https://willimbu.com/">Willimbu</a>)</li>
  <li>Rubén Triviño (<a href="https://willimbu.com/">Willimbu</a>)</li>
  <li>Luis José Sánchez (<a href="https://espiral.io/">Espiral</a>)</li>
  <li>David Ponce Martínez</li>
  <li>Luis Podadera</li>
  <li>Anna Niedzialek</li>
  <li>Karol Depka Pradzinski</li>
</ul>


