<h1>About TopicFriends</h1>
(Formerly PeopleMatcher)
<br>
<br>
This app connects people based on:
<ul>
  <li><b style="text-decoration: underline">Actionable</b> interests (e.g.: would like to do pair programming on
    <app-topic-tag [tag]="angular"></app-topic-tag>
    <app-topic-tag [tag]="ionic"></app-topic-tag>
    <app-topic-tag [tag]="firebase"></app-topic-tag>).
    <ul>
      <li><a routerLink="/topics">See list of topics</a>
        which you can add to your <a routerLink="/profile">User Profile</a></li>
    </ul>
  </li>
  <li>Geo-locations (<a routerLink="/users-map">see Users Map</a>)</li>
  <li>Meetings/meetups attendance (<a routerLink="/meeting-list">see Meetings List</a>)</li>
</ul>

<p>A community project.</p>
<p>
  Open-Source: <a href="https://github.com/karol-depka/NetworkingMatcher">github.com/karol-depka/NetworkingMatcher</a>
</p>

<div class="fb-like" data-href="https://www.facebook.com/TopicFriends/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>

<h2 id="Partners">Partners</h2>

<div
  class="partners-container"
  style="display: flex; flex-wrap: wrap; align-items: center">
  <a
    href="https://espiral.io/"
  >
    <img
      class="partner-img"
      style="margin-right: 20px"
      vertical-align="middle"
      src="assets/images/partners/espiral_logo_with_name.png" height="50px"></a>

  <a
    href="https://www.meetup.com/es/Angular-Malaga/"
  >
    <img
      class="partner-img"
      style="margin-right: 20px"
      vertical-align="middle"
      src="assets/images/partners/angularmalaga3.png" height="50px"></a> <!-- Cannot have whitespace before </a> because will display underlined as link -->

  <a
    href="https://growworking.com/"
  >
    <img
      class="partner-img"
      style="margin-right: 20px"
      vertical-align="middle"
      src="assets/images/partners/GrowWorking_Logotipo.svg" height="40px"></a> <!-- Cannot have whitespace before </a> because will display underlined as link -->

  <a
    href="http://ng-poland.pl/"
  >
    <img
      class="partner-img"
      vertical-align="middle"
      src="assets/images/partners/Logo_ngPoland_final_without_date only1.svg" height="90px"></a> <!-- Cannot have whitespace before </a> because will display underlined as link -->

</div>



<h2 id="Powered-by">Powered by:</h2>
<mat-chip-list>
  <app-topic-tag [tag]="angular"></app-topic-tag>
  <app-topic-tag [tag]="angularMaterial"></app-topic-tag>
  <app-topic-tag [tag]="angularFlexLayout"></app-topic-tag>
  <app-topic-tag [tag]="materialDesign"></app-topic-tag>
  <app-topic-tag [tag]="angularFire"></app-topic-tag>
  <app-topic-tag [tag]="typeScript"></app-topic-tag>
  <app-topic-tag [tag]="rxJs"></app-topic-tag>
  <app-topic-tag [tag]="reactiveX"></app-topic-tag>
  <app-topic-tag [tag]="firebase"></app-topic-tag>
  <app-topic-tag [tag]="protractor"></app-topic-tag>
  <app-topic-tag [tag]="karma"></app-topic-tag>
  <app-topic-tag [tag]="jasmine"></app-topic-tag>
  <app-topic-tag [tag]="webpack"></app-topic-tag>
  <app-topic-tag [tag]="npm"></app-topic-tag>
  <app-topic-tag [tag]="sass"></app-topic-tag>
</mat-chip-list>

<h2 id="Contributors">Contributors and People who attended PeopleMatcher Hackathon (random order) :</h2>

<ul>
  <li>Pablo Ortuño (<a href="https://willimbu.com/">Willimbu</a>)</li>
  <li>Rubén Triviño (<a href="https://willimbu.com/">Willimbu</a>)</li>
  <li>Enrique Arrabal (<a href="https://willimbu.com/">Willimbu</a>)</li>
  <li>Luis José Sánchez (<a href="https://espiral.io/">Espiral</a>)</li>
  <li>Alfredo Martinez (<a href="https://espiral.io/">Espiral</a>)</li>
  <li>Francisco Durán Navarro</li>
  <li>Adrian Lopez</li>
  <li>Antonio David Ponce</li>
  <li>Luis Podadera</li>
  <li>David Bernal Guerrero</li>
  <li>Javier Bernal Guerrero</li>
  <li>Javier Molina</li>
  <li>Javier Matos</li>
  <li>Jesús Estevez</li>
  <li>Anna Niedzialek</li>
  <li>Karol Depka Pradzinski</li>
</ul>

<h2 id=Contribute>Looking for volunteers for:</h2>
<ul>
  <li>Integration with Meetup.com
    <ul>
      <li>Attendees list?</li>
      <li>Groups</li>
    </ul>
  </li>
  <li>Integration with LinkedIn.com</li>
  <li id="Contribute-topic-details">Filling more details/logos for topics</li>
  <li>Social
    <ul>
      <li>Like button</li>
      <li>Social media pages (Twitter, Facebook, LinkedIn, Google+)</li>
      <li>Share/send via social media</li>
    </ul>
  </li>
  <li>Upload of photo(s) (via drag&drop)</li>
  <li>Implement sending things like "I would like to meet you" via e-mail, e.g. via SendGrid</li>
  <li>Mobile optimizations
    <ul>
      <li>Responsive</li>
      <li>CSS</li>
      <li>Flex, etc.</li>
    </ul>
  </li>
  <li>Stack Overflow integration
    <ul>
      <li>topic tags</li>
      <li>Users</li>
      <li>reputation</li>
    </ul>
  </li>
</ul>

<h2>Voting for a name</h2>
We are <a href="https://ratevote.karoldepka.com/poll/PeopleMatcherName">voting for a name and domain here</a>.

<h2 id="News">News</h2>

<ul>
  <li>2017-08-29 - User geo locations and map (thanks to Antonio David Ponce for the initial prototype)</li>
  <li>2017-08-30 - About box</li>
  <li>2017-08-30 - Search box in location picker (thanks to Antonio David Ponce)</li>
  <li>2017-08-30 - User description and "what would you like to accomplish in this app" fields</li>
  <li>2017-08-30 - Clickable topic links and topic details pages</li>
  <li>2017-08-30 - Fixed meeting details not loading the first time</li>
  <li>2017-08-31 - Improved about page and nav-bar icons for People and Meetings</li>
  <li>2017-08-31 - Show count of meeting attendees</li>
  <li>2017-08-31 - User descriptions (text areas)</li>
  <li>2017-09-12 - Alpha.3 release
    <ul>
      <li>Location search field in map location picker dialog (thanks to Antonio David Ponce)</li>
      <li>Warn when trying to close tab or navigate away, when unsaved changes on User Profile</li>
      <li>More location types (hometown, where I visit)</li>
      <li>More interest types (mentor, intern, code review)</li>
      <li>Bugfix: attendant list was not updated correctly on changes</li>
      <li>Internal: big refactors and cleanups, especially related to user profile form</li>
      <li>About component updates</li>
      <li>About component: integration with Facebook (thanks to David Bernal Guerrero)</li>
      <li>Visual tweaks (margins, font sizes, etc.)</li>
    </ul>
  </li>
  <li>2017-09-17
    <ul>
      <li>Added user description to people list item card</li>
      <li>Changed name and logo to TopicFriends, topicfriends.org</li>
      <li>Ability to view profiles of other Users</li>
      <li>Showing User names on the map</li>
      <li>Adding topics by Users</li>
    </ul>
  </li>
  <li>2017-09-26
    <ul>
      <li>Improvements to maps</li>
      <li>Highlight symmetric/same/matching interests of other Users</li>
    </ul>
  </li>
  <li>2017-10-10 First beta release
  </li>
</ul>


<h2 id="Terms">Terms of Service and Privacy Policy</h2>

<mat-tab-group style="margin-top: -15px">
  <mat-tab label="Español">
    <div class="terms-in-language-body">
      Al usar este servicio, usted acepta los siguientes términos:
      Todos los perfiles de usuarios son públicos, visibles incluso para gente que no ha sido registrada.
      La dirección de email de los usuarios es privada. No se compartirá ni venderán.
      En un futuro, es posible que añadamos nuevas funciones para la comunicación entre usuarios (por ejemplo, un botón de "Me gustaría conocerte"). Las direcciones de email seguirían siendo privadas en este caso, y existiría la opción de cancelar la subscripción a los emails generados y enviados por TopicFriends.
      Si no se siente seguro añadiendo su geolocalicación, por favor, considere añadir su localización aproximada, lo cual será útil.
      Sus datos estan almacenados de forma segura en Google Firebase.
      Los datos almacenados en la nube, pueden estar almacenados en países con diferentes leyes de protección de datos.
      Puede contactar con nosotros enviando un email a contact@topicfriends.org
      <br/>
      <br/>
      <!-- http://portal.circe.es/es-ES/Herramientas/Paginas/ClausulaLOPD.aspx -->
      Cláusula LOPD: en cumplimiento de lo dispuesto en la Ley Orgánica 15/1999 de Protección de Datos de Carácter Personal, le informamos que los datos de carácter personal obtenidos mediante la cumplimentación del presente formulario del perfil público de TopicFriends.org, van a ser tratados y quedarán incorporados a los ficheros responsabilidad de Karol Depka Pradzinski, NIE Y2879411D.
      En este sentido, le informamos que la recogida y tratamiento de sus datos tienen como finalidad mantener la base de Usuarios de la Comunidad de TopicFriends.org para facilitar que los usuarios se conozcan mutuamente.
      El hecho de utilizar el formulario del perfil público de TopicFriends.org implica que expresa su consentimiento para que los datos suministrados queden incorporados a un fichero automatizado titularidad de TopicFriends.org.
      En todo caso, usted puede ejercitar los derechos de acceso, rectificación, cancelación y oposición, previstos por la Ley, dirigiendo un escrito a contact@topicfriends.org o Avenida Editor Angel Caffarena 15, 29010 Málaga.
    </div>
  </mat-tab>

  <mat-tab label="English">
    <div class="terms-in-language-body">
      By using this service, you agree to the following terms.
      All user profiles are public, viewable even by people who are not logged in.
      User email addresses are kept private. We do not share or sell user email addresses.
      In the future, we might add features for communication between users (for example "I would like to meet" button). User email adresses will stay private also in this case, and there will be an option to unsubscribe from emails generated and sent by TopicFriends.

      If you are afraid to include your geolocations, please consider including approximate locations, which is already helpful.

      Data is securely hosted on Google Firebase. Data stored in the cloud, can be stored in countries with different data protection laws.
      You can contact us at contact@topicfriends.org.

      LOPD clause (Spanish data protection law): In fulfilment of the provisions of the Spanish Organic Law 15/1999, of December 13, on Personal Data Protection (hereinafter LOPD), all data obtained through filling out of this form are going to be processed, and will be included in files which are under the responsibility of Karol Depka Prądziński, NIE Y2879411D.
      In this regard, we inform you that the purpose of collection and processing of your data is the maintanance of the users database of the community of TopicFriends.org so that the users can get acquainted with one another.
      The use of this public form on TopicFriends.org implies expressed consent for  the supplied information to be incorporated into file system under the responsibility of TopicFriends.org. In any case, you have the rights of access, change, cancellation and objection, as specified by the law, may be exercised by writing to contact@topicfriends.org or to Avenida Editor Angel Caffarena 15, 29010 Málaga.
    </div>
  </mat-tab>
</mat-tab-group>
