<h3 md-dialog-title>
  <ng-template [ngIf]="isEditable">Please pick location for</ng-template>
  "{{locationName}}"
</h3>

<md-dialog-content>

  <md-input-container
    *ngIf="isEditable"
    id=searchInputFieldContainer
  >
    <md-placeholder>
      <md-icon>map</md-icon> Search for location:
    </md-placeholder>

    <input
      mdInput
      #searchInputField
    />
  </md-input-container>

<agm-map
  [ngClass]="isEditable ? 'editable-map' : 'non-editable-map'"
  id=pickLocationMap
  [latitude]="coordinates.latitude"
  [longitude]="coordinates.longitude"
  [zoom]="15">
  <agm-marker
    [latitude]="coordinates.latitude"
    [longitude]="coordinates.longitude"
    [label]="isEditable ? 'Drag Me' : null"
    [markerDraggable]="isEditable"
    (dragEnd)="markerDragEnd($event)"
  >
  </agm-marker>
  <!--<agm-marker *ngFor="let userCoords of usersCoords"-->
  <!--[latitude]="userCoords.geoCoords.latitude"-->
  <!--[longitude]="userCoords.geoCoords.longitude"-->
  <!--[label]="userCoords.user.displayName"-->
  <!--&gt;-->
  <!--</agm-marker>-->

  <!--<agm-circle-->
  <!--[latitude]="coordinates.latitude"-->
  <!--[longitude]="coordinates.longitude"-->
  <!--[radius]="300"-->
  <!--fillColor="#4885ed"-->
  <!--&gt;</agm-circle>-->
</agm-map>

</md-dialog-content>

<md-dialog-actions>

  <button
    class="map-dialog-button"
    md-button
    md-raised-button
    color="primary"
    (click)="close()"
  >
    {{isEditable ? 'Accept' : 'Close'}}
  </button>

</md-dialog-actions>
