#pickLocationMap {
  width: 100%;
}

.editable-map {
  height: 250px;
}

.non-editable-map {
  height: 300px;
}

#searchInputFieldContainer {
  width: 100%;
}

.pac-container {
  position: fixed !important; // Fix the position for scrolling
}

.map-dialog-button {
  width: 10px;
  margin-top: 10px;
}

$names: #fff;

agm-map {
  height: 700px;
  width: 100%;
  text-shadow:
    2px 2px 3px $names,
    -1px -1px 3px $names,
    1px -1px 3px $names,
    -1px 1px 3px $names,
    1px 1px 3px $names;
  font-size: large;
}


