<h3 md-dialog-title>Please pick location for "{{locationName}}"</h3>

<md-dialog-content>

  <md-input-container
    id=searchInputFieldContainer
  >
    <md-placeholder>
      <md-icon>map</md-icon> Search for location:
    </md-placeholder>

    <input
      mdInput
      #searchInputField
    />
  </md-input-container>

<!--<agm-map-->
  <!--id=pickLocationMap-->
  <!--[latitude]="coordinates.latitude"-->
  <!--[longitude]="coordinates.longitude"-->
  <!--[zoom]="15">-->
  <!--<agm-marker-->
    <!--[latitude]="coordinates.latitude"-->
    <!--[longitude]="coordinates.longitude"-->
    <!--[label]="'Drag Me'"-->
    <!--[markerDraggable]="true"-->
    <!--(dragEnd)="markerDragEnd($event)"-->
  <!--&gt;-->
  <!--</agm-marker>-->
  <!--&lt;!&ndash;<agm-marker *ngFor="let userCoords of usersCoords"&ndash;&gt;-->
  <!--&lt;!&ndash;[latitude]="userCoords.geoCoords.latitude"&ndash;&gt;-->
  <!--&lt;!&ndash;[longitude]="userCoords.geoCoords.longitude"&ndash;&gt;-->
  <!--&lt;!&ndash;[label]="userCoords.user.displayName"&ndash;&gt;-->
  <!--&lt;!&ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;</agm-marker>&ndash;&gt;-->

  <!--&lt;!&ndash;<agm-circle&ndash;&gt;-->
  <!--&lt;!&ndash;[latitude]="coordinates.latitude"&ndash;&gt;-->
  <!--&lt;!&ndash;[longitude]="coordinates.longitude"&ndash;&gt;-->
  <!--&lt;!&ndash;[radius]="300"&ndash;&gt;-->
  <!--&lt;!&ndash;fillColor="#4885ed"&ndash;&gt;-->
  <!--&lt;!&ndash;&gt;</agm-circle>&ndash;&gt;-->
<!--</agm-map>-->

</md-dialog-content>

<md-dialog-actions>
  <button md-button md-raised-button
          color="primary"
          style="margin-top: 5px; padding-right: 3em; padding-left: 3em"
          (click)="acceptAndClose()"
  >
    Accept</button>

</md-dialog-actions>
