#pickLocationMap {
  width: 100%;
}

.editable-map {
  height: 250px;
}

.non-editable-map {
  height: 300px;
}

#searchInputFieldContainer {
  width: 100%;
}

.pac-container {
  position: fixed !important; // Fix the position for scrolling
}

.map-dialog-button {
  width: 10;
  margin-top: 10px;
}
