<button mat-raised-button routerLink="/login"
  *ngIf="! userProfileService.userId; else rsvp_buttons">
  Please log in, to RSVP
</button>

<ng-template #rsvp_buttons>
  <button mat-raised-button (click)="updateUserMeetingAttendance(true)"
          *ngIf="meetingAttendanceByUser === undefined">Loading...
    <mat-progress-spinner style="font-size: 0.5em" mode="indeterminate"
                         class="mat-progress-spinner"></mat-progress-spinner>
  </button>

  <button class="tf-going-button" mat-raised-button (click)="updateUserMeetingAttendance(false)"
          *ngIf="meetingAttendanceByUser?.going === true">I'm going
    <i class="ion-checkmark-circled tf-icon"></i>
  </button>

  <button class="tf-question-button" mat-raised-button (click)="updateUserMeetingAttendance(true)"
          *ngIf="meetingAttendanceByUser?.going === undefined">Are you going
    <i class="ion-help-circled tf-icon"></i>
  </button>

  <button class ="tf-not-going-button" mat-raised-button (click)="updateUserMeetingAttendance(true)"
          *ngIf="meetingAttendanceByUser?.going === false">I'm not going
    <i class="ion-close-round  tf-icon"></i>
  </button>
</ng-template>
