
<ng-template [ngIf]="showAllMeetings">
  <div class="meetings-header" style="display: flex">
    <h2 style="flex-grow: 1">Meetings</h2>
    <button style="margin: 7px; background-color: mediumseagreen; color: white"
            mat-button mat-raised-button
            (click)="onNewMeeting()"
    >
      New Meeting
    </button>
  </div>
  <ng-template mat-list ngFor let-item [ngForOf]="allMeetings" >
    <mat-list-item>
      <app-meeting-list-item mat-list-item [meeting]="item" formcontrolname="meeting"></app-meeting-list-item>
    </mat-list-item>
  </ng-template>
</ng-template>
<ng-template>
  <h2>Upcoming Meetings</h2>

  <ng-template mat-list ngFor let-item [ngForOf]="upcomingMeetings" >
    <mat-list-item>
      <app-meeting-list-item mat-list-item [meeting]="item" formcontrolname="meeting"></app-meeting-list-item>
    </mat-list-item>
  </ng-template>
  <ng-template [ngIf]="!showAllMeetings && upcomingMeetings.length === 0">
    <h3 class="no-upcoming-meetings">There are no upcoming meetings</h3>
  </ng-template>

  <button
    class="past-meetings-button"
    *ngIf="pastMeetings && pastMeetings.length > 0"
    (click)="seePastMeetings = !seePastMeetings"
    mat-raised-button>
    <span *ngIf="!seePastMeetings">See past meetings</span>
    <span *ngIf="seePastMeetings">Hide past meetings</span>
  </button>

  <ng-template [ngIf]="seePastMeetings">
    <h2>Past Meetings</h2>
    <ng-template mat-list ngFor let-item [ngForOf]="pastMeetings" >
      <mat-list-item>
        <app-meeting-list-item mat-list-item [meeting]="item" formcontrolname="meeting"></app-meeting-list-item>
      </mat-list-item>
    </ng-template>
  </ng-template>
</ng-template>

