<h2>Upcoming Meetings</h2>

<ng-template mat-list ngFor let-item [ngForOf]="upcomingMeetings" >
  <mat-list-item>
    <app-meeting-list-item mat-list-item [meeting]="item" formcontrolname="meeting"></app-meeting-list-item>
  </mat-list-item>
</ng-template>

<ng-template [ngIf]="upcomingMeetings.length === 0">
  <h3 class="no-upcoming-meetings">There are no upcoming meetings</h3>
</ng-template>

<button
  class="past-meetings-button"
  *ngIf="pastMeetings && pastMeetings.length > 0"
  (click)="seePastMeetings = !seePastMeetings"
  mat-raised-button>
  <span *ngIf="!seePastMeetings">See past meetings</span>
  <span *ngIf="seePastMeetings">Hide past meetings</span>
</button>

<ng-template [ngIf]="seePastMeetings">
  <h2>Past Meetings</h2>
  <ng-template mat-list ngFor let-item [ngForOf]="pastMeetings" >
    <mat-list-item>
      <app-meeting-list-item mat-list-item [meeting]="item" formcontrolname="meeting"></app-meeting-list-item>
    </mat-list-item>
  </ng-template>
</ng-template>
