
<!-- Quick "port" to PeopleMatcher codebase. No bootstrap though -->

<div class="container">
  <!--<h3>-->
    <!--Users Map-->
  <!--</h3>-->
  <div
    class="row"
  >
    <div class="col-xs-12">
      <ng-template [ngIf]="false">
        <h2>This is your current location: </h2>
        <div *ngIf="coordinates">
          <p>Latitude: {{coordinates.latitude}}</p>
          <p>Longitude: {{coordinates.longitude}}</p>
        </div>
        <mat-slider
          min="100"
          max="50000"
          step="200"
          tickInterval="3"
          [(ngModel)]="radiusSearch"
          (change)="onRadiusSearchChange()"
        ></mat-slider>

        <p>There are <b>{{ numberOfNearUsers }}</b> map points within {{ radiusSearch | distance }}.</p>
      </ng-template>

      <div class="filter-buttons">
        <mat-checkbox
          checked="showLabelsOverMarker"
          (change)="changeShowLabelOverMark()"
        >
          Show Labels &nbsp;
        </mat-checkbox>
        <mat-checkbox
          checked="showPeople"
          (change)="changeShowPeople()"
        >
          Show People ({{allUsersGeoLocationsFlattened?.length}})
        </mat-checkbox>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div *ngIf="coordinates">
        <agm-map
          [latitude]="coordinates.latitude"
          [longitude]="coordinates.longitude"
          [zoom]="10">

          <ng-template [ngIf]="showPeople">
            <ng-template ngFor let-userLocation [ngForOf]="allUsersGeoLocationsFlattened">
              <agm-marker
                [markerClickable]="true"
                (markerClick)="onMarkerClick(userLocation)"
                [latitude]="userLocation.latitude"
                [longitude]="userLocation.longitude"
                [label]="showLabelsOverMarker ? (
                  (userLocation.title | async)
                  + ' ' +
                  (((userLocation.matchResults | async)?.matchScore) || '')
                  ) : ''"
              ></agm-marker>
            </ng-template>
          </ng-template>

          <agm-marker
            class="shadow-text"
            *ngFor="let location of pois"
            [markerClickable]="true"
            [iconUrl]="(location.icon || 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png')"
            [latitude]="location.geoLocation.latitude"
            [longitude]="location.geoLocation.longitude"
            [label]="(showLabelsOverMarker ? location.title : '' )"
          ></agm-marker>

          <!--<agm-marker *ngFor="let userCoords of usersCoords"-->
            <!--[latitude]="userCoords.geoCoords.latitude"-->
            <!--[longitude]="userCoords.geoCoords.longitude"-->
            <!--[label]="userCoords.user.displayName"-->
            <!--&gt;-->
          <!--</agm-marker>-->

          <!--<agm-circle-->
            <!--[latitude]="coordinates.latitude"-->
            <!--[longitude]="coordinates.longitude"-->
            <!--[radius]="300"-->
            <!--fillColor="#4885ed"-->
          <!--&gt;</agm-circle>-->
        </agm-map>
      </div>
    </div>
  </div>
</div>

