//$names: #ff9535;
//$names: #ffff0c;
$names: #fff;
$blur-radius: 1px;

$map-mobile-height:100%;
$map-mobile-width: 100%;

$distance-slicer-width: 300px;

:host {
  overflow-y: hidden !important;
}

.filter-buttons {
  position: absolute;
  z-index: 1;
  margin-top: 10px;
  margin-left: 6px;
  padding: 5px;
  border-radius: 5px;
  background: rgba($color: #111111, $alpha: 0.5);
  text-shadow:
    -1px 0 $blur-radius $names,
    0 1px $blur-radius $names,
    1px 0 $blur-radius $names,
    0 -1px $blur-radius $names;

  mat-checkbox {
    padding: 5px;
  }
}

agm-map {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;

}


mat-slider {
  width: $distance-slicer-width;
}

