{{reusableControl | json}}
<br>

<md-chip-list>
  <md-chip
    *ngFor="let chip of tagList">
    {{chip}}
    <span (click)=deleteTag(chip)>X</span>
  </md-chip>
</md-chip-list>
<br>

<md-input-container style="width:100%">
  <input
    mdInput
    placeholder="My skills"
    [mdAutocomplete]="auto"
    [formControl]="stateCtrl">
</md-input-container>

<md-autocomplete #auto="mdAutocomplete">
  <md-option
    *ngFor="let option of filteredOptions | async"
    [value]="option"
    (click)="addTag(option)">
    {{ option }}
  </md-option>
</md-autocomplete>
