
<br>

<app-topic-tag-list
  [tagListModel]="tagListModel"
  [editable]="true"
></app-topic-tag-list>

<br>

<md-input-container style="width:100%">
  <input
    mdInput
    [mdAutocomplete]="auto"
    [formControl]="stateCtrl"
    (keydown.enter)="addTag(currentFilteredOptions[0])"
  >
  <md-placeholder>
    <ng-content select="app-item-list-input-title"></ng-content>
  </md-placeholder>
</md-input-container>

<md-autocomplete #auto="mdAutocomplete">
  <md-option
    *ngFor="let option of filteredOptions | async"
    [value]="option.name"
    (onSelectionChange)="addTag(option)"
  >
    <!--<ng-template [ngIf]="option.logo" >-->
      <!--<img src="{{chip.logo}}"/>-->
      <img src="{{option.logo}}" onerror="this.style.display='none';"/> <!-- FIXME option.logo -->
    <!--</ng-template>-->
    &nbsp;{{ option.name }}
  </md-option>
</md-autocomplete>

<!-- https://github.com/angular/material2/tree/master/src/lib/autocomplete -->
