skills-visualizer {
    .main-container {
        width: 100%;
    }
    p {
        margin: 10px;
        padding: 10px;
        color: white !important;
    }
    .light-theme {
        .skills-visualizer-container {
            display: inline-block;
            border: 1px solid white;
            position: relative;
            border-radius: 20px;
            margin: 5px;
            .skills-visualizer-container-remove {
                position: absolute;
                right: 0px;
                top: 0px;
                width: 20px;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.5);
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                text-align: center;
                ion-icon {
                    color: white;
                    font-size: 1em;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                }
            }
            .editable-padding {
                padding-right: 30px;
            }
        }
    }
    .dark-theme {
        .skills-visualizer-container {
            display: inline-block;
            background-color: $primary;
            position: relative;
            margin: 5px;
            border-radius: 20px;
            .skills-visualizer-container-remove {
                position: absolute;
                right: 0px;
                top: 0px;
                width: 20px;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.5);
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                text-align: center;
                ion-icon {
                    color: white;
                    font-size: 1em;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                }
            }
            .editable-padding {
                padding-right: 30px;
            }
        }
    }
}