<div>
  <h2>
    Manage topics list
  </h2>

  <div id="search-or-create">
    <mat-form-field>
      <input matInput placeholder="Search to create a new topic" #searchInput
             (keyup)="onSearch(searchInput.value);"
             (keyup.enter)="createTopic(searchInput.value);">
    </mat-form-field>
  </div>

  <mat-list>
    <mat-list-item *ngIf="searchInput.value" class="create-option"
                   (click)="createTopic(searchInput.value);">
      <mat-icon mat-list-icon>edit</mat-icon>
      <h4 mat-line>Click to create <em>"{{ searchInput.value }}"</em> topic</h4>
      <p mat-line>... or press the Enter key</p>
    </mat-list-item>
    <mat-list-item *ngFor="let topic of topics">
      <mat-icon mat-list-icon>folder</mat-icon>
      <h4 mat-line>{{ topic.name }}</h4>
      <p mat-line> {{topic}} </p>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</div>
