<md-card class="user-item" style="margin-bottom: 0.5em; margin-left: 0.5em; margin-right: 0.5em;">
  <md-card-header>
    <!--<div md-card-avatar class="card-avatar"></div>-->
    <img md-card-avatar *ngIf="profileBasicInfo?.photoUrl" md-card-avatar style="vertical-align:middle" src="{{profileBasicInfo?.photoUrl}}"/>
    <md-card-title
      style="vertical-align:middle"
    >
      <!--<h3>-->
      <div class="user-display-name">
        {{profileBasicInfo?.displayName || profileBasicInfo?.name}}
      </div>
      <!--</h3>-->
    </md-card-title>
    <md-card-subtitle>
      {{userDescriptions?.descriptions?.myDescription?.text || 'No Description Yet'}}
      <!--{{profileBasicInfo?.role}}-->
      <!--<span *ngIf="profileBasicInfo?.company">-->
                <!--at-->
                <!--<span style="font-weight: bold;">{{' ' + profileBasicInfo?.company}}</span>-->
            <!--</span>-->
    </md-card-subtitle>
  </md-card-header>

  <md-card-content>
    <!--<div *ngIf="_whatUserWants.length > 0" style="padding-bottom: 0.5em;">-->
    <!--{{_whatUserWants[0].desireType == 'supply' ? 'Is looking for being' : 'Is looking for '}}-->
    <!--<span style="font-weight: bold; color: #666666">{{_whatUserWants[0].topics}}</span>-->
    <!--<span *ngIf="_whatUserWants.length > 1"-->
          <!--style="display: inline-block; margin-left: 1em; font-size: 0.8em; color: #116633; cursor: pointer;"-->
          <!--(click)="_expand = !_expand">{{_expand ? 'less' : 'more'}}</span>-->
    <!--</div>-->
    <!--<div *ngIf="_expand">-->
      <!--<div *ngFor="let supplyDemand of _getWhatUserWants(); let i = index">-->
        <!--<div *ngIf="i > 0" style="padding-bottom: 0.5em;">-->
          <!--{{supplyDemand.desireType == 'supply' ? 'Is looking for being' : 'Is looking for '}}-->
          <!--<span style="font-weight: bold; color: #666666">{{supplyDemand.topics}}</span>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <app-user-interests-mode-view [topicGroup]="userInterests?.byInteractionMode?.symmetric?.exchange">
      Would like to exchange knowledge on:
    </app-user-interests-mode-view>
    <app-user-interests-mode-view [topicGroup]="userInterests?.byInteractionMode?.symmetric?.pairProgramming">
      Would like to do pair programming on:
    </app-user-interests-mode-view>
    <app-user-interests-mode-view [topicGroup]="userInterests?.byInteractionMode?.symmetric?.hackathon">
      Would like to do hackathon on:
    </app-user-interests-mode-view>
    <app-user-interests-mode-view [topicGroup]="supplyDemand?.freelance?.demand">
      Would like to find a freelancer for:
    </app-user-interests-mode-view>
    <app-user-interests-mode-view [topicGroup]="supplyDemand?.freelance?.supply">
      Would like to work as a freelancer for:
    </app-user-interests-mode-view>
    <app-user-interests-mode-view [topicGroup]="supplyDemand?.intern?.demand">
      Would like to find an intern for:
    </app-user-interests-mode-view>
    <app-user-interests-mode-view [topicGroup]="supplyDemand?.intern?.supply">
      Would like to become an intern for:
    </app-user-interests-mode-view>
    <app-user-interests-mode-view [topicGroup]="supplyDemand?.mentor?.demand">
      Would like to find a mentor for:
    </app-user-interests-mode-view>
    <app-user-interests-mode-view [topicGroup]="supplyDemand?.mentor?.supply">
      Would like to become a mentor for:
    </app-user-interests-mode-view>
    <!--</md-card-content>-->
  </md-card-content>
  <!--<md-card-actions>-->
    <!--&lt;!&ndash;<div>&ndash;&gt;-->
    <!--<button md-raised-button>MEET</button>-->
    <!--<button md-raised-button>SHARE</button>-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--</md-card-actions>-->
</md-card>
<!--
<md-grid-list
    cols="12"
    rowHeight="20px"
    class="grid-element">
    <md-grid-tile [colspan]=3 [rowspan]=6>{{_userPublicProfile?.name}}</md-grid-tile>
    <md-grid-tile [colspan]=3 [rowspan]=6>Prueba</md-grid-tile>
    <md-grid-tile [colspan]=3 [rowspan]=6>Prueba</md-grid-tile>
    <md-grid-tile [colspan]=3 [rowspan]=6>Prueba</md-grid-tile>
</md-grid-list>
-->
