<md-card style="margin-bottom: 0.5em; margin-left: 0.2em; margin-right: 0.2em;">
    <md-card-header>
        <div md-card-avatar class="card-avatar"></div>
        <md-card-title>{{_userPublicProfile?.name}}</md-card-title>
        <md-card-subtitle>
            {{_userPublicProfile?.role}} 
            <span *ngIf="_userPublicProfile?.company">
                at
                <span style="font-weight: bold;">{{' ' + _userPublicProfile?.company}}</span>   
            </span>
        </md-card-subtitle>
    </md-card-header>

    <md-content>        
        <div *ngIf="_whatUserWants.length > 0" style="padding-bottom: 0.5em;">
            Would like to 
            <span class="highlight">{{' ' + _whatUserWants[0].action + ' '}}</span>
            with skills: 
            <span class="highlight">{{_whatUserWants[0].topics}}</span>
        </div>
        <div *ngIf="_expand">
            <div *ngFor="let supplyDemand of _getWhatUserWants(); let i = index">
                <div *ngIf="i > 0" style="padding-bottom: 0.5em;">
                    Would like to 
                    <span class="highlight">{{' ' + supplyDemand.action + ' '}}</span>
                    with skills:  
                    <span class="highlight">{{supplyDemand.topics}}</span>
                </div>
            </div>
        </div>
        
        <span *ngIf="_whatUserWants.length > 1"
                style="position: absolute; right: 1.5em; top: 1.5em; font-size: 0.8em; color: #3498db; cursor: pointer;"
                (click)="_expand = !_expand">{{_expand ? 'less' : 'more'}}</span>
    </md-content>
    <md-actions>
        <button md-raised-button (click)="onMeetButtonPressed()">MEET</button>
        <button md-raised-button (click)="onShareButtonPressed()">SHARE</button>
    </md-actions>
</md-card>