<div   [ngStyle]="{'width': width, 'margin': margin}">
<!--  <mat-chip-list>-->
    <ng-template [ngIf]="! tagListModel?.valueWasSet">
      Loading...
    </ng-template>

    <ng-template [ngIf]="editable">
      <ng-template ngFor let-tag [ngForOf]="tagListModel.tags" [ngForTrackBy]="trackByKey">
<!--        <app-user-skill-->
<!--          [tag]="tag"-->
<!--        ></app-user-skill>-->
<!--        [userProfileInputs]="userProfileInputs"-->
<!--        [tag]="tag"-->
<!--        [skillLevels]="getSkillLevelsForTopicId(topic.id)"-->
<!--        (levelsChanged)="onLevelsChanged($event, topic)"-->


        <app-topic-tag
          style="display: inline-block"
          [tag]="tag"
          [editable]="editable"
          [tagListModel]="tagListModel"
          [relatedTopicLists]="_relatedTopicLists"
        ></app-topic-tag>
      </ng-template>
    </ng-template>

    <ng-template [ngIf]="!editable">
      <ng-template ngFor let-tag [ngForOf]="tagListModel.tags | limitTo:showLimit" [ngForTrackBy]="trackByKey">
        <app-topic-tag
          [tag]="tag"
          [editable]="editable"
          [tagListModel]="tagListModel"
          [relatedTopicLists]="_relatedTopicLists"
        ></app-topic-tag>
      </ng-template>
      <ng-template [ngIf]="canShowMore()">
        <a (click)="onShowMoreClick()"> Show {{tagListModel?.tags.length - showLimit}} more </a>
      </ng-template>

      <ng-template [ngIf]="canShowLess()">
        <a (click)="onShowLessClick()"> Show less </a>
      </ng-template>
    </ng-template>

<!--  </mat-chip-list>-->

</div>
