<div class="container">
  <div class="icons-size" fxLayout fxLayout.lt-sm="column">
    <div fxLayout fxLayoutAlign="center center">
    <span>Icons size:</span>
    <mat-slider
      min="4"
      max="100"
      step="2"
      [(ngModel)]="iconBaseSize"
      (change)="onIconBaseSizeChange()"
    ></mat-slider>
    </div>
    <div fxLayout fxLayoutAlign="center center">
    <ng-template [ngIf]="topics.length > 1">
      <span>Separation:</span>
      <mat-slider
        min="0"
        max="10"
        step="0.5"
        [(ngModel)]="offsetRadius"
        (change)="onOffsetRadiusChange()"
      ></mat-slider>
    </ng-template>
    </div>
  </div>

  <agm-map #agmMap
    [latitude]="coordinates.latitude"
    [longitude]="coordinates.longitude"
    [zoom]="10">
    <ng-template ngFor let-i="index" let-topic [ngForOf]="topics">
      <ng-template ngFor  let-userLocation [ngForOf]="usersGeoLocations[topic.id]">
        <agm-marker
          [markerClickable]="true"
          (mouseOver)="onMouseOver(agmMap, profilePopup, profilePopupContent)"
          (mouseOut)="onMouseOut(agmMap, profilePopup)"
          [latitude]="userLocation.latitude + offsets[i].lat"
          [longitude]="userLocation.longitude + offsets[i].lon"
          [iconUrl]="topicsIcon[topic.id]"
        >
          <agm-info-window #profilePopup>
            <app-user-profile-popup #profilePopupContent [userId]="userLocation.userId"></app-user-profile-popup>
          </agm-info-window>
        </agm-marker>
      </ng-template>
    </ng-template>
  </agm-map>
</div>

