<div
  [formGroup]="parentFormGroup"
>

  <mat-form-field *ngIf="userProfileInputs.isEditable">
    <mat-placeholder>
      <mat-icon>person</mat-icon>
      <b>{{descriptor.websiteName}}</b>
      &nbsp;Profile
      <span class="input-remark">
        (optional, {{descriptor.whatIsEnough}} enough)
      </span>
    </mat-placeholder>
    <span matPrefix>
      <i class="icon {{descriptor.iconClass}}"></i>
      &nbsp;
      {{descriptor.urlPrefix}}
    </span>

    <input
      matInput
      [formControl]="thisFormControl"
    >
  </mat-form-field>


  <p
    *ngIf="! userProfileInputs.isEditable"
  >
    <span
      class="other-profile-icon-container"
    >
      <i class="icon {{descriptor.iconClass}}"></i>
    </span>
    <a
      *ngIf="fullUrl"
      href="{{fullUrl}}"
    >
      {{urlNoProtocol}}
    </a>
  </p>

  <!--</p>-->

</div>
