<div
  [formGroup]="parentFormGroup"
>

  <md-input-container>
    <md-placeholder>
      <md-icon>person</md-icon>
      <b>{{descriptor.websiteName}}</b>
      &nbsp;Profile
      <span class="input-remark">
        (optional, {{descriptor.whatIsEnough}} enough)
      </span>
    </md-placeholder>
    <span mdPrefix>
      <i class="icon {{descriptor.iconClass}}"></i>
      &nbsp;
      {{descriptor.urlPrefix}}
    </span>

    <input
      mdInput
      [formControl]="thisFormControl"
    >
  </md-input-container>

</div>
