.navbar-container{
    position: fixed;
    left: 0px;
    top:0px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 70px;
    height: 100vh;
    padding-top: 64px;
    z-index: 9;
    box-shadow: 3px 0 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    margin-top: 64px


}
.navbar-container-mobile{
    position: fixed;
    z-index: 9;
    left: 0px;
    top:inherit;
    padding-top: inherit;
    background-color: rgba(255, 255, 255, 0.5);
    bottom: 0px;
    width: 100vw;
    height: 50px;
    box-shadow: 0 -3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.selected-tab{
    background-color: #e5e5e5;
}
.nav-bar-item-container{
    width: 70px;
    height: 70px;
    display: block;
    margin: auto;
    outline: none;
    position: relative;
    cursor: pointer;
    p{
        margin: 0px;
        padding: 0px;
        font-size: 0.8em;
        color:grey;
    }
    md-icon{
        color:grey;
    }
    .nav-bar-centerd-items{
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}
