<div
  ngClass.xs="navbar-container-mobile"
  ngClass.gt-xs="navbar-container"
  fxLayout="column"

>
<div
  class="navbar-container-inner"
  fxLayout="column"
  fxLayout.xs="row"
>
  <div fxFlexOrder="1" fxFlex="1 1 100%" [ngClass]="{'selected-tab': (selectedTab==0)}" (click)="selectedTab = 0" routerLink="/meeting-list" routerLinkActive="active">
    <div class="nav-bar-item-container" [ngStyle.xs]="{'height.px': 50}">
         <div class="nav-bar-centerd-items">
            <mat-icon>event</mat-icon>
            <p>Meetings</p>
         </div>
    </div>

  </div>
  <div fxFlexOrder="2" fxFlex="1 1 100%" [ngClass]="{'selected-tab': (selectedTab==1)}"  (click)="selectedTab = 1" routerLink="/people-list" routerLinkActive="active">
    <div class="nav-bar-item-container" [ngStyle.xs]="{'height.px': 50}">
        <div class="nav-bar-centerd-items">
            <mat-icon>people</mat-icon>
            <p>People</p>
        </div>
    </div>
  </div>
  <div fxFlexOrder="3" fxFlex="1 1 100%" [ngClass]="{'selected-tab': (selectedTab==2)}"  (click)="selectedTab = 2" routerLink="/profile" routerLinkActive="active">
    <div class="nav-bar-item-container" [ngStyle.xs]="{'height.px': 50}">
        <div class="nav-bar-centerd-items">
            <mat-icon>person_pin</mat-icon>
            <p>Profile</p>
        </div>
    </div>

  </div>
  <!-- Do not show "topics" nav button on navbar for xs.
    ... because of limited horizontal space.
    It is accessible from About box as well.
  -->
  <div fxFlexOrder="4" fxFlex="1 1 100%" [ngClass]="{'selected-tab': (selectedTab==3)}"  (click)="selectedTab = 3" routerLink="/topics" routerLinkActive="active">
    <div class="nav-bar-item-container" [ngStyle.xs]="{'height.px': 50}">
        <div class="nav-bar-centerd-items">
            <mat-icon>filter_vintage</mat-icon>
            <p>Topics</p>
        </div>
    </div>

  </div>

  <div fxFlexOrder="5" fxFlex="1 1 100%" [ngClass]="{'selected-tab': (selectedTab==4)}"  (click)="selectedTab = 4" routerLink="/users-map" routerLinkActive="active">
    <div class="nav-bar-item-container" [ngStyle.xs]="{'height.px': 50}">
        <div class="nav-bar-centerd-items">
            <mat-icon>map</mat-icon>
            <p>Map</p>
        </div>
    </div>

  </div>

  <!--<div fxFlexOrder="6" fxFlex="1 1 100%" [ngClass]="{'selected-tab': (selectedTab==5)}"  (click)="selectedTab = 5">-->
    <!--<div class="nav-bar-item-container" [ngStyle.xs ]="{'height.px': 50}" routerLink="/groups" routerLinkActive="active">-->
      <!--<div class="nav-bar-centerd-items">-->
        <!--<mat-icon>people_outline</mat-icon>-->
        <!--<p>Groups</p>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <div fxFlexOrder="7" fxFlex="1 1 100%" [ngClass]="{'selected-tab': (selectedTab==6)}"  (click)="selectedTab = 6" routerLink="/about" routerLinkActive="active">
    <div class="nav-bar-item-container" [ngStyle.xs]="{'height.px': 50}">
        <div class="nav-bar-centerd-items">
            <mat-icon>info</mat-icon>
            <p>About</p>
        </div>
    </div>
  </div>

  <div [fxHide.xs]="true" fxFlexOrder="8" fxFlex="1 .4 100%"></div>

  </div>

  <div fxShow fxHide.gt-xs="true" class="footer-mobile"  fxLayout="row">
     <a routerLink="/terms" routerLinkActive="active">TÉRMINOS DE USO</a>
     <span>|</span>
     <a routerLink="/privacy" routerLinkActive="active">POLÍTICA DE PRIVACIDAD</a>
     <span>&copy; 2018 </span>
  </div>

</div>



<!--
     <nav>
  <button mat-button mat-raised-button><a routerLink="/meeting-list" routerLinkActive="active">Meeting list</a></button>
  <button mat-button mat-raised-button><a routerLink="/meeting-details" routerLinkActive="active">Meeting details</a></button>
  <button mat-button mat-raised-button><a routerLink="/people-list" routerLinkActive="active">People list</a></button>
  <button mat-button mat-raised-button><a routerLink="/profile" routerLinkActive="active">Profile</a></button>
</nav>-->
