<mat-nav-list>
  <a mat-list-item routerLink="/meeting-list"><mat-icon>event</mat-icon>Meetings</a>
  <a mat-list-item routerLink="/people-list"><mat-icon>people</mat-icon>People</a>
  <a mat-list-item routerLink="/profile"><mat-icon>person_pin</mat-icon>Profile</a>
  <a mat-list-item routerLink="/topics"><mat-icon>filter_vintage</mat-icon>Topics</a>
  <a mat-list-item routerLink="/users-map"><mat-icon>map</mat-icon>Map</a>
  <a mat-list-item routerLink="/about"><mat-icon>info</mat-icon>About</a>
</mat-nav-list>
