<div class.xs="navbar-container-mobile" class="navbar-container" fxLayout="column" fxLayout.xs="row">
 <div fxFlexOrder="1" fxFlex="1 1 100%" [ngClass]="{'selected-tab': (selectedTab==0)}" (click)="selectedTab = 0">
    <div class="nav-bar-item-container" [style.xs]="{'height.px': 50}" routerLink="/meeting-list" routerLinkActive="active">
         <div class="nav-bar-centerd-items">
            <md-icon>format_list_numbered</md-icon>
            <p>Meetings</p>
         </div>
    </div>

 </div>
 <div fxFlexOrder="2" fxFlex="1 1 100%" [ngClass]="{'selected-tab': (selectedTab==1)}"  (click)="selectedTab = 1">
    <div class="nav-bar-item-container" [style.xs]="{'height.px': 50}" routerLink="/people-list" routerLinkActive="active">
        <div class="nav-bar-centerd-items">
            <md-icon>search</md-icon>
            <p>Search</p>
        </div>
    </div>
 </div>
 <div fxFlexOrder="3" fxFlex="1 1 100%" [ngClass]="{'selected-tab': (selectedTab==2)}"  (click)="selectedTab = 2">
    <div class="nav-bar-item-container" [style.xs]="{'height.px': 50}" routerLink="/profile" routerLinkActive="active">
        <div class="nav-bar-centerd-items">
            <md-icon>person_pin</md-icon>
            <p>Profile</p>
        </div>
    </div>

 </div>
  <div fxFlexOrder="4" fxFlex="1 1 100%" [ngClass]="{'selected-tab': (selectedTab==3)}"  (click)="selectedTab = 3">
    <div class="nav-bar-item-container" [style.xs]="{'height.px': 50}" routerLink="/topics" routerLinkActive="active">
        <div class="nav-bar-centerd-items">
            <md-icon>filter_vintage</md-icon>
            <p>Topics</p>
        </div>
    </div>

 </div>

  <div fxFlexOrder="5" fxFlex="1 1 100%" [ngClass]="{'selected-tab': (selectedTab==4)}"  (click)="selectedTab = 4">
    <div class="nav-bar-item-container" [style.xs]="{'height.px': 50}" routerLink="/users-map" routerLinkActive="active">
        <div class="nav-bar-centerd-items">
            <md-icon>map</md-icon>
            <p>Map</p>
        </div>
    </div>

 </div>
 <div [fxHide.xs]="true" fxFlexOrder="6" fxFlex="1 .4 100%"></div>
</div>



<!--
     <nav>
  <button md-button md-raised-button><a routerLink="/meeting-list" routerLinkActive="active">Meeting list</a></button>
  <button md-button md-raised-button><a routerLink="/meeting-details" routerLinkActive="active">Meeting details</a></button>
  <button md-button md-raised-button><a routerLink="/people-list" routerLinkActive="active">People list</a></button>
  <button md-button md-raised-button><a routerLink="/profile" routerLinkActive="active">Profile</a></button>
</nav>-->
