<p>
  topic-interests-and-skills-list-picker works!
</p>


<app-item-list-picker
  [isEditable]="userProfileInputs.isEditable"
  [placeholder]="'Type to add interest and skill topics'"
>
  PICKER CONTENT
  <div
    *appPickerListItemCandidate="let item"
  >
<!--    picker candidate proj! :-->
<!--    Tit {{item.name}}-->
    <app-topic-tag
      [tag]="{tagEntry: item}"
    ></app-topic-tag>
  </div>
  <div
    *appPickedListItemTag="let item"
  >
<!--    p proj:-->
<!--    t {{item.name}}-->
    <app-topic-tag
      [tag]="{tagEntry: item}"
    ></app-topic-tag>
  </div>

</app-item-list-picker>
