<mat-card style="margin-bottom: 0.5em; margin-left: 0.5em; margin-right: 0.5em;">
  <mat-card-title id=title-text class=single-line-rich-text routerLink="/meeting/{{meeting.$key}}">
    <span [innerHtml]="meeting.title"></span>
  </mat-card-title>
  <mat-card-subtitle>
    <ng-template [ngIf]="attendeesCount>0"> already {{attendeesCount}} coming!</ng-template>
  </mat-card-subtitle>
  <mat-card-content>
    <p>{{meeting.date}} at {{meeting.place}}</p>
    <a href="{{meeting.meetupLink}}">Meetup link</a>
  </mat-card-content>
  <mat-card-actions>

    <button mat-button mat-raised-button color="secondary"
            class="meeting-button"
            routerLink="/meeting/{{meeting.$key}}"
    >
      Details
    </button>

    <app-going-button [meeting]="meeting" [meetingAttendanceByUser]="meetingAttendanceByUser"></app-going-button>
  </mat-card-actions>
</mat-card>
