#terms{
  margin: 0 1 rem;
}
p{
    text-align: justify;
    text-indent: 3em;
  }
  h3{
    margin-left: 1em;
  }

  h4{
    margin-left: 2em;
  }

  h5{
    margin-left: 3em;
  }
   a{
     text-decoration: none;
     color: darkgrey;
   }
