<div id="privacy">
  <h2>Política de Privacidad</h2>
  <p><em>(Última actualización: {{lastUpdate}})</em></p>
  <h3>Tu Privacidad</h3>
  <p>Desde TF nos tomamos muy en serio tu privacidad y tu confianza, por eso, hemos redactado
    esta declaración de privacidad. En virtud de lo establecido por <strong> la Ley Orgánica 15/1999
      de 13 de diciembre de Protección de Datos de Carácter Personal (LOPD)</strong> y el nuevo
    <strong>Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo de 27 de abril de 2016
      relativo a la protección de las personas físicas en lo que respecta al tratamiento de
      datos personales y a la libre circulación de estos datos (RGPD)</strong>, vamos a explicarte en un
    lenguaje claro y conciso qué datos recogemos, por qué lo hacemos y cuál es el tratamiento
    que reciben.</p>
  <p>Es importante resaltar la siguientes consideraciones previas: </p>
  <p>1º En TopicFriends todos los datos son públicos. Cualquier persona podrá acceder a tu perfil aunque
    no esté registrado. El único dato que no se comparte es la dirección de correo electrónico
    que utilizaste para registrarte.</p>
  <p>2º El hecho de completar los formularios de registro y usar TopicFriends, implica que aceptas en su
    totalidad nuestra política de privacidad.</p>

  <h4>¿Qué información personal recogemos?</h4>
  <p>Por información personal entendemos toda aquella información que permita identificar a una persona físicamente,
    como nombre y apellidos o números fiscales. En TopicFriends intentamos reducir al máximo la información personal
    recogida del usuario, y en cualquier caso todos los campos de los formularios de registro son de carácter opcional.
    Por lo tanto, opcionalmente el usuario puede proporcionar la siguiente información: Nombre, descripción, perfiles en
    redes sociales, forma preferida de contacto, geo-localizaciones y nivel de interés y/o conocimientos en diferentes
    temáticas. Al mismo tiempo, la dirección de correo electrónico utilizado para el registro, también es almacenada.
    TopicFriends no tiene acceso y por tanto no almacena tu contraseña personal de Google, de Linkedin o de cualquier
    otro servicio que utilices para acceder a TopicFriends.</p>

  <h4>¿Cómo conseguimos la información?</h4>
  <p>Los datos de usuarios recopilados por TopicFriends, han sido aportados directamente y con conocimiento por los
    usuarios en el momento de creación de su perfil personal. Unicamente la dirección de correo electrónico, del
    proveedor de servicios Google es almacenada de forma indirecta. Desde TopicFriend, en ningún caso, incorporamos
    datos de potenciales usuarios aportados por terceros.</p>
  <p>TopicFriends no utiliza ningún sistema automático o de software para recopilación automática de datos de usuarios
    actuales o potenciales.</p>

  <h4>¿Compartimos tus datos?</h4>
  <p>En este apartado es importante volver a hacer referencia a la consideración previa primera: En TopicFriends todos
    los datos son públicos, por lo que cualquier persona podrá acceder a ellos. Además, en la actualidad existen
    técnicas automatizadas, de extracción de datos como el Web Scraping, que pueden ser realizadas, sin conocimiento del
    usuario. TopicFriends no asume ninguna responsabilidad sobre el uso que un tercero pueda hacer de tus datos,
    obtenidos de tu perfil público. Nosotros, por nuestra parte, no compartimos tus datos</p>
  <p>TopicFriends solo compartirá parcial o totalmente tus datos personales bajo exigencia legal. Existe la posibilidad
    de que esto sea necesario para el cumplimiento de normativas, de regulaciones o para atender a requerimientos
    judiciales.</p>

  <h4>¿Por qué es necesario recopilar algunos datos personales?</h4>
  <p>La razón por la que te pedimos que nos facilites algunos datos personales y en especial los datos relacionados con
    tus intereses y el nivel de conocimientos es bien sencilla. Los necesitamos estrictamente para el funcionamiento de
    TopicFriends. Nuestro objetivo es poner en contacto a diferentes usuarios de TopicFriends, que compartan inquietudes
    e intereses, es decir, para poder cumplir con nuestra misión, solicitamos, tratamos y cruzamos los datos que los
    diferentes usuarios han introducido en sus perfiles.</p>

  <h4>¿Dónde están almacenados tus datos personales?</h4>
  <p>Para el almacenamiento de datos de usuarios utilizamos el servicio seguro Firebase ofrecido por Google (Alphabet
    Inc). Firebase es un conjunto de herramientas en la nube, que permite a páginas web y aplicaciones móviles disponer
    de una base de datos entre otras muchas funcionalidades. Google es una empresa multinacional, con servidores y
    centros de datos repartidos por todo el planeta, por lo que existe la posibilidad de que tus datos personales sean
    almacenados en algún país no miembro de la Unión Europea. Para poder ofrecer sus múltiples servicios en Europa,
    Google por su parte cumple con todos los requisitos legales expuestos en el RGPD o ha firmado acuerdos específicos
    como los denominados “escudos de seguridad”, el <strong>EU-US Privacy Shield Framework</strong> rige en este caso.
  </p>

  <h4>¿Quién es el responsable de tus datos personales?</h4>
  <p>Tus datos personales han sido incorporados a un fichero responsabilidad de Karol Depka Pradzinski, fundador y
    gestor principal de este proyecto. Este fichero ha sido debidamente inscrito en el Registro General de Protección de
    Datos, con arreglo a lo establecido en la LOPD. Puede contactar directamente con la persona responsable a través de
    la dirección de correo electrónico: 
    <a href="mailto:contact@topicfriends.org?Subject=Datos%20Personales">contact@topicfriends.org</a>.</p>

  <h4>¿Por cuánto tiempo mantendremos almacenados tus datos personales?</h4>
  <p>Mantendremos tus datos personales dentro de nuestra base de datos mientras seas usuario de TopicFriends. Si en
    algún momento, deseas dejar de utilizar nuestro servicio, puedes eliminar tu perfil y automáticamente todos tus
    registros personales serán eliminados de forma permanente.</p>

  <h4>¿Cuáles son tus derechos?</h4>
  <p>A continuación, te explicamos cómo hacemos desde TopicFriends para que puedas ejercer fácilmente todos tus
    derechos. Es importante destacar que se tratan de derechos personalísimos, es decir, que solo podrán ser ejercidos
    por el titular de los datos.</p>
  <h5>·Derecho de acceso y derecho de rectificación: </h5>
  <p>Puedes acceder fácilmente a tu información personal, desde la sección “Perfil”. Desde ahí, podrás consultarla y
    modificarla. La información que consta en esta sección en la misma que hay almacenada en nuestra base de datos.
    Además, si lo deseas puedes solicitar una copia de todos tus datos personales a través de la dirección de correo
    electrónico: <a href="mailto:contact@topicfriends.org?Subject=Derechos%20Usuario">contact@topicfriends.org</a>.
  </p>
  <h5>·Derecho de Cancelación y derecho al olvido:</h5>
  <p> Ejerciendo este derecho, tienes la posibilidad de que se cancelen y eliminen total o parcialmente los datos que tu
    consideres pertinentes. Podrás ejercer este derecho sin perjuicio del deber de bloqueo recogido en la LOPD. Para
    ejercer estos derechos ponte en contacto con TopicFriends a través de la dirección de correo electrónico:
    <a href="mailto:contact@topicfriends.org?Subject=Derechos%20Usuario">contact@topicfriends.org</a>.
  </p>
  <h5>·Derecho de oposición</h5>
  <p>Si lo deseas, puedes oponerte a que a realicemos algún tipo de tratamiento de tus datos o exigirnos que cesemos el
    tratamiento de datos cuando no sea necesario el consentimiento del usuario. Para ejercer este derecho ponte en
    contacto con TopicFriends a través de la dirección de correo electrónico:
    <a href="mailto:contact@topicfriends.org?Subject=Derechos%20Usuario">contact@topicfriends.org</a>.
  </p>
  <h5>·Derecho de limitación del tratamiento:</h5>
  <p>Este derecho supone, que a petición del usuario, no se aplicarán a sus datos personales las operaciones de
    tratamiento que en cada caso corresponderían. Esto puede darse en casos de inexactitud, ilicitud, reclamaciones y
    oposición. Para ejercer este derecho ponte en contacto con TopicFriends a través de la dirección de correo
    electrónico: <a href="mailto:contact@topicfriends.org?Subject=Derechos%20Usuario">contact@topicfriends.org</a>.
  </p>
  <h5>·Derecho de Portabilidad: </h5>
  <p>Este derecho, que es en realidad una variante actualizada del derecho de acceso. Permite si lo deseas, transmitir
    todos tus datos a otra organización en un formato estructurado y de uso común. Tus datos, pasarán de un responsable
    a otro, sin que tengas que hacer nada por tu parte más allá de dar tu autorización. Para ejercer este derecho ponte
    en contacto con TopicFriends a través de la dirección de correo electrónico:
    <a href="mailto:contact@topicfriends.org?Subject=Derechos%20Usuario">contact@topicfriends.org</a>.
  </p>

  <h4>Presentación de reclamaciones:</h4>
  <p>Si no estás de acuerdo con la forma en la que tratamos tus datos en TopicFriends, nos dudes en ponerte en contacto
    con nosotros en la dirección de correo electrónico:
    <a href="mailto:contact@topicfriends.org?Subject=Derechos%20Usuario">contact@topicfriends.org</a>.</p>
  <p>Tienes el derecho a realizar una reclamación al organismo regulador pertinente, para España, este organismo es la
    Agencia Española de Protección de Datos <a href="http://www.agpd.es">www.agpd.es</a>.
  </p>

  <h4>Modificaciones de esta política</h4>
  <p>Nuestra política de privacidad se podrá modificar en cualquier momento, sin previo aviso y sin necesidad de
    solicitar autorización a los usuarios de TopicFriends. Nos gusta considerar este texto como un documento vivo que
    irá creciendo y cambiando a lo largo del tiempo a la vez que lo hace TopicFriends. En ningún caso, limitaremos
    cualquiera de tus derechos a través de modificaciones futuras. Publicaremos cualquier modificación de la presente
    política de privacidad en esta página, ofreciendo la fecha de la última actualización de la misma. </p>

  <h4>Respecto a los menores de edad:</h4>
  <p>En cumplimiento de la LOPD y el RGPD, no podemos almacenar datos de personas menores de 16 años. Por lo tanto, si
    eres menor de 16 años lamentamos informarte de que no debes registrarte en TopicFriends. En el momento de guardar
    los datos en tu perfil, solicitaremos una confirmación. </p>


  <h2>Política de cookies y tecnologias asimilables</h2>
  <h4>¿Qué es una cookie?</h4>
  <p>Una cookie es un pequeño archivo de texto que se descarga en un ordenador u otro dispositivo a través de la
    navegación en páginas web. Son una herramienta fundamental para el correcto funcionamiento de la mayoría de
    servicios y páginas web. Entre sus funciones principales, destaca su papel como identificador y su capacidad para
    recopilar información, con objeto de mejorar la experiencia del usuario.</p>
  <h6>Tipos de cookies:</h6>
  <p style="text-indent: 0">· Según el responsable de la creación y gestión de la cookie distinguiremos entre cookies
    propias y cookies de
    terceros. <br>
    · Según el tiempo que la cookie permanece almacenada en el navegador de tu dispositivo distinguiremos entre cookies
    de sesión y cookies persistentes.<br>
    · Según para la finalidad con que se traten los datos obtenidos distinguiremos entre cookies técnicas, cookies de
    personalización, cookies de análisis, cookies publicitarias y cookies de publicidad comportamental.
  </p>
  <h4>Cookies utilizadas por TopicFriends:</h4>
  <p>Únicamente nos servimos de una cookie de inicio de sesión, gestionada por el servicio Firebase. Esta cookie queda
    depositada en el almacenamiento local del navegador y se utiliza para recordar el inicio de sesión. </p>
  <h4>Aceptación de la política de cookies:</h4>
  <p>Desde TopicFriends damos por hecho que aceptas el uso de cookies en tu navegador y por lo tanto aceptas nuestra
    política de cookies. No obstante, en cumplimiento de lo estipulado en el RGPD y la LOPD, mostraremos siempre al
    visitar topicfriends.org, un aviso en el que informamos sobre nuestra política de cookies y pedimos al usuario que
    lo acepte, para confirmar su conformidad.
  </p>
  <h4>Modificación de la administración de cookies:</h4>
  <p>El usuario puede administrar las cookies desde el panel de opciones de su navegador. Es importante señalar, que
    cambios en la configuración del navegador en lo referente a cookies puede llevar a que algunas funciones y
    características de nuestro servicio no funcionen correctamente. Los pasos necesarios para restringir, bloquear o
    borrar las cookies serán diferentes en cada navegador. A continuación, te mostramos unos enlaces, donde ampliar
    información para los cuatro navegadores más populares:
  </p>
  <ul class="browsers">
    <li><a
      href="https://support.microsoft.com/es-es/help/17442/windows-internet-explorer-delete-manage-cookies#ie=ie-10">InternetExplorer</a>
    </li>
    <li><a href="https://support.mozilla.org/es/kb/Borrar%20cookies ">Firefox</a></li>
    <li><a href="https://support.google.com/chrome/answer/95647?hl=es">Chrome</a></li>
    <li><a href="https://support.apple.com/es-lamr/guide/safari/sfri11471/mac">Safari</a></li>
  </ul>

</div>
