<mat-card>
    <div class="about__basedOn">
      <mat-card-title>This app connects people based on</mat-card-title>
        <mat-card-content>
          <div class="about__basedOn--tiles">
            <div class="about__basedOn--tile">
               <div>
                 <mat-icon aria-hidden="false" aria-label="people icon" class="about__basedOn--icon">people</mat-icon>
                <h4>Actionable interests</h4> 
                <p>Actionable interests like pair programming, do a hackathon, freelance, co-founder, business partner etc.</p>
              </div>
              <a mat-raised-button routerLink="/profile">PROFILE</a>
            </div>
            <div class="about__basedOn--tile">
              <div>
                <mat-icon aria-hidden="false" aria-label="map icon" class="about__basedOn--icon">map</mat-icon>
                <h4>Geo-locations</h4> 
                <p>See users on the map.</p>
              </div>
              <a mat-raised-button routerLink="/users-map">USERS MAP</a>
            </div>
            <div class="about__basedOn--tile">
              <div>
                <mat-icon aria-hidden="false" aria-label="event icon" class="about__basedOn--icon">event</mat-icon>
                <h4>Meetings/meetups attendance</h4>
                <p>Check out our meetings.</p>
              </div>
              <a mat-raised-button routerLink="/meetings">MEETINGS</a>
            </div>
          </div>
        </mat-card-content>
    </div>
  </mat-card>