$map-desktop-height: 90.3vh;
$map-desktop-width: calc(100vw - 70px);

$map-mobile-height:calc(95vh - 70px);
$map-mobile-width: 100%;


app-topics-map {
  position: absolute;
  height: $map-desktop-height;
  margin-top: -12px;
  margin-left: -12px;
  width: $map-desktop-width;
  display: block;
}


@media only screen and (max-width: 600px) {
  app-topics-map {
    margin-top: -5px;
    margin-left: -5px;
    width: $map-mobile-width;
    height: $map-mobile-height;
    display: block;
  }
}
