<agm-map
  [latitude]="coordinates.latitude"
  [longitude]="coordinates.longitude"
  [zoom]="10">

  <!--<ng-template [ngIf]="showPeople">
    <ng-template ngFor let-userLocation [ngForOf]="allUsersGeoLocationsFlattened">
      <agm-marker
        [markerClickable]="true"
        (markerClick)="onMarkerClick(userLocation)"
        [latitude]="userLocation.latitude"
        [longitude]="userLocation.longitude"
        [label]="showLabelsOverMarker ? (
                  (userLocation.title | async)
                  + ' ' +
                  (((userLocation.matchResults | async)?.matchScore) || '')
                  ) : ''"
      ></agm-marker>
    </ng-template>
  </ng-template>

  <agm-marker
    class="shadow-text"
    *ngFor="let location of pois"
    [markerClickable]="true"
    [iconUrl]="(location.icon || 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png')"
    [latitude]="location.geoLocation.latitude"
    [longitude]="location.geoLocation.longitude"
    [label]="(showLabelsOverMarker ? location.title : '' )"
  ></agm-marker>-->

  <!--<agm-marker *ngFor="let userCoords of usersCoords"-->
  <!--[latitude]="userCoords.geoCoords.latitude"-->
  <!--[longitude]="userCoords.geoCoords.longitude"-->
  <!--[label]="userCoords.user.displayName"-->
  <!--&gt;-->
  <!--</agm-marker>-->
</agm-map>
