<cookie-law
  *ngIf="! isSeen"
  learnMore="about#Terms"
  (isSeen)="onIsSeen($event)"
>
  <div
    *ngIf="! isSeen"
    style="display: flex; align-items: center; width: 100%"
  >
    <div style="flex-grow:1">
      Utilizamos cookies propias y de terceros para mejorar su experiencia y nuestros servicios,
      analizando la navegación en nuestro Sitio Web. Si continúa navegando, usted está aceptando su uso.
      Puede obtener más información en nuestra <a href="/privacy">Política de Privacidad</a>.
    </div>
    &emsp;
    <button
      (click)="dismissCookieLaw()"
      mat-raised-button
      color="primary"
      style=""
      id="accept-cookies-button"
    >
      Aceptar
    </button>
  </div>
</cookie-law>
