<div class="reset-password-container">

  <h2 style="margin-bottom: 0.7em">
    Reset password
  </h2>
  <br/>
  <form (ngSubmit)="sendPasswordResetRequest()" #f="ngForm">
    <div>
      <mat-form-field class="login-full-width">
        <input ngModel class="form-control" [formControl]="resetEmailFormControl" name="email" matInput id='email'
              placeholder="Enter registered E-mail" value="">
        <mat-error *ngIf="resetEmailFormControl.hasError('email') && !resetEmailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="resetEmailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-error *ngIf="resetEmailResponseMessage !==  ''">
        {{resetEmailResponseMessage}}
      </mat-error>
    </div>
    <br /><br />
    <button type="submit" id='passwordResetRequest' mat-button mat-raised-button [disabled]="!f.valid">
      Request reset password
    </button>
  </form>
</div>
