$icon-size: 80px;
$icon-margin: 5%;

.reset-password-container {
  margin-top: 12px;
  text-align: -webkit-center;
}

button {
  //padding: 15px;
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h2 {
  margin-top: 0;
  margin-bottom: 15px;
}

mat-form-field {
    margin: 0.25em auto;
}

.reset-password-area{
    margin-top: 1em;
    color: #aaaaaa;
}