<div>
<!--  // City
  // Postal Code
  // Country-->

<!--
  <ng-content></ng-content>
-->
  <div
    style="display: inline-block; width: 8em"
  >
    {{locationName}}: &nbsp;
  </div>

  <!--<md-input-container id="postalCode">

    <md-placeholder>
      Postal code (optional)
    </md-placeholder>

  </md-input-container>-->

  <md-input-container
  >
    <!-- style="display: none" -->

    <md-placeholder>
      Latitude, Longitude
    </md-placeholder>

    <input
      mdInput
      #latitudeLongitude
      readonly
      (click)="openLocationPicker()"
      [disabled]="(! value) && (! userProfileInputs.isEditable)"
    >

  </md-input-container>

<!--
  <button md-button md-raised-button (click)="useCurrentLocation()">Use current location</button>
-->
  <button
    md-button
    md-raised-button
    (click)="openLocationPicker()"
    color="primary"
    [disabled]="(! value) && (! userProfileInputs.isEditable)"
  >
    <i class="ion-ios-location" ></i>
    &nbsp;
    <span *ngIf="userProfileInputs.isEditable">Pick</span>
    <span *ngIf="! userProfileInputs.isEditable">View</span>
  </button>

  <button
    *ngIf="userProfileInputs.isEditable"
    md-button
    md-raised-button
    (click)="clear()"
  >
    Clear
  </button>

</div>
