mat-card-title {
  cursor: pointer;
}

mat-card-title>span:active {
  background: linear-gradient(white, #e6e6e6, white);
}

mat-card-title:active,
mat-card-title:focus {
  outline:0;
  border:none;
  -moz-outline-style: none;
}

mat-card-subtitle {
  margin-top: -12px !important;
}
