<h1>User List</h1>
<ng-template [ngIf]="userListSaved">
  <p>{{ potentialConnectionsCount() }} potential connections between people!</p>
</ng-template>

<!--<nw-user-template-->
  <!--*ngFor="let user of (userList | async); trackBy: trackByKey"-->
  <!--[userProfile]="user"-->
<!--&gt;</nw-user-template>-->

<!--<div-->
  <!--*ngFor="let user of userListCombinedSorted"-->
<!--&gt;-->
  <!--Person: {{user.profile.displayName}}-->
<!--</div>-->
<br/>
<br/>
Matched Users:
<div
  *ngFor="let user of userListCombinedSorted2"
>
  Person: {{user.userDataCombined.profile.displayName}}, MatchScore: {{user.matchResults?.matchScore}}
</div>


<div style="height: 100px;"></div>
