<h2 id="contributors">Contributors and People who attended PeopleMatcher Hackathon (in no particular order) :</h2>

<!-- idea: show on a map -->

<ul>
  <li>Alejandro J. Morón Nieto</li>
  <li>Moisés Jiménez Martín</li>
  <li>Pablo Ortuño (<a href="https://willimbu.com/">Willimbu</a>)</li>
  <li>Rubén Triviño (<a href="https://willimbu.com/">Willimbu</a>)</li>
  <li>Enrique Arrabal (<a href="https://willimbu.com/">Willimbu</a>)</li>
  <li>Luis José Sánchez (<a href="https://espiral.io/">Espiral</a>)</li>
  <li>Alfredo Martinez (<a href="https://espiral.io/">Espiral</a>)</li>
  <li>Francisco Durán Navarro</li>
  <li>Adrian Lopez</li>
  <li>Antonio David Ponce</li>
  <li>Olga Grinko</li>
  <li>Mateusz Werpulewski</li>
  <li>Abel Rodríguez Del Arco</li>
  <li>Leo Lara</li>
  <li>Adam Piskorek</li>
  <li>Luis Podadera</li>
  <li>David Bernal Guerrero</li>
  <li>Javier Bernal Guerrero</li>
  <li>Javier Molina</li>
  <li>Javier Matos</li>
  <li>Jesús Estevez</li>
  <li>Anna Niedzialek</li>
  <li>Karol Depka Pradzinski</li>
</ul>
