<div style="max-width: 1000px; margin: auto; ">
  <h1 id="about">About TopicFriends</h1>

  <app-about-info></app-about-info>

  <p>A community project. Open-Source: <a href="https://github.com/TopicFriends/TopicFriends">github.com/TopicFriends/TopicFriends</a></p>

  <app-about-twitter></app-about-twitter>

  <app-about-facebook></app-about-facebook>

  <app-about-partners></app-about-partners>

  <app-about-powered-by></app-about-powered-by>

  <app-about-contributors></app-about-contributors>

  <app-about-contributors-welcome></app-about-contributors-welcome>

  <app-about-news></app-about-news>

  <!--<h2>Voting for a name</h2>-->
  <!--We are <a href="https://ratevote.karoldepka.com/poll/PeopleMatcherName">voting for a name and domain here</a>.-->

</div>
