.full-width-form-field {
  width: 100%;
}

.save-fab {
  position: fixed;
  z-index: 2;
  top: calc(100vh - 120px);
  left: calc(100vw - 100px);
}

.saveProfileButton {
  width:80%;
  margin-left: 10%;
}

@media only screen and (max-width: 600px) {
  .save-fab {
    position: fixed;
    z-index: 2;
    top: calc(100vh - 80px);
    left: calc(100vw - 80px);
  }
}
