<md-card style="margin-bottom: 10px">
<md-card-content>

<div [formGroup]="formGroup">

  <ng-template [ngIf]="! otherProfiles" >Loading external profiles...</ng-template>

  <app-other-profile-user-name
    *ngFor="let descriptor of descriptorsList"
    [descriptor]="descriptor"
    [parentFormGroup]="formGroup"
    [thisFormControl]="formControls[descriptor.id]"
    [userProfileInputs]="userProfileInputs"
  ></app-other-profile-user-name>


  <md-input-container *ngIf="false">
    <md-placeholder>
      My Website URL
    </md-placeholder>
    <span mdPrefix>
      <md-icon>languages</md-icon>
    </span>

    <input
      mdInput
      [formControl]="otherProfileFacebook"
    >
  </md-input-container>

</div>

</md-card-content>
</md-card>
