<agm-map #agmMap
  [latitude]="coordinates.latitude"
  [longitude]="coordinates.longitude"
  [zoom]="10">
  <ng-template ngFor let-userLocation [ngForOf]="allUsersLocations">
    <agm-marker
      [markerClickable]="true"
      (markerClick)="onMarkerClick(userLocation)"
      (mouseOver)="onMouseOver(agmMap, profilePopup, profilePopupContent)"
      (mouseOut)="onMouseOut(agmMap, profilePopup)"
      [latitude]="userLocation.latitude"
      [longitude]="userLocation.longitude"
    >
      <agm-info-window #profilePopup>
        <app-user-profile-popup #profilePopupContent [userId]="userLocation.userId"></app-user-profile-popup>
      </agm-info-window>
    </agm-marker>
  </ng-template>
</agm-map>
