<agm-map
  [latitude]="coordinates.latitude"
  [longitude]="coordinates.longitude"
  [zoom]="10">
  <ng-template ngFor let-userLocation [ngForOf]="allUsersGeoLocations">
    <agm-marker
      [latitude]="userLocation.latitude"
      [longitude]="userLocation.longitude"
      [iconUrl]="(icon || 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png')"
    ></agm-marker>

    <!--<agm-marker-->
      <!--[markerClickable]="true"-->
      <!--(markerClick)="onMarkerClick(userLocation)"-->
      <!--[latitude]="userLocation.latitude"-->
      <!--[longitude]="userLocation.longitude"-->
      <!--[label]="showLabelsOverMarker ? (-->
        <!--(userLocation.title | async)-->
        <!--+ ' ' +-->
        <!--(((userLocation.matchResults | async)?.matchScore) || '')-->
        <!--) : ''"-->
    <!--&gt;</agm-marker>-->
  </ng-template>
</agm-map>
