$question-button-color: lightgrey;
$going-button-color: mediumseagreen;
$not-going-button-color: indianred;

.tf-icon {
  font-size: 1.6em;
  padding-left: 5px;
}

.tf-question-button {
  color: $question-button-color;
}

.tf-going-button {
  background-color: $going-button-color;
  color: white;
}

.tf-not-going-button {
  color: white;
  background-color: $not-going-button-color;
}


mat-progress-spinner {
  float: right;
  width: 24px;
  height: 24px;
  margin: 6px 0px 5px 10px;
}
