<button mat-raised-button routerLink="/login"
  *ngIf="! userProfileService.userId; else rsvp_buttons">
  Please log in, to RSVP
</button>

<ng-template #rsvp_buttons>
  <button mat-raised-button (click)="updateUserMeetingAttendance(true)"
          *ngIf="meetingAttendanceByUser === undefined">Loading...
    <mat-progress-spinner style="font-size: 0.5em" mode="indeterminate"
                         class="mat-progress-spinner"></mat-progress-spinner>
  </button>

  <button mat-raised-button style="background-color: mediumseagreen; color: white" (click)="updateUserMeetingAttendance(false)"
          *ngIf="meetingAttendanceByUser?.going === true">I'm going
    <i class="ion-checkmark-circled going-button-icon"></i>
  </button>

  <button mat-raised-button (click)="updateUserMeetingAttendance(true)"
          *ngIf="meetingAttendanceByUser?.going === undefined">Are you going
    <i class="ion-help-circled going-button-icon"></i>
  </button>

  <button mat-raised-button style="background-color: indianred" (click)="updateUserMeetingAttendance(true)"
          *ngIf="meetingAttendanceByUser?.going === false">I'm not going
    <i class="ion-close-round going-button-icon"></i>
  </button>
</ng-template>
