.grid-element{

}

.card-avatar{
    background: url('/assets/images/avatar1.png');
    background-size: cover;
}

@keyframes ChipAnimation {
  0% {
    opacity: 0.0;
  }
  50% {
  }
  100% {
    opacity: 1.0;
  }
}

.user-item {
  //animation: ChipAnimation 0.5s ease-in-out;
//transform-style: preserve-3d;
}

.user-display-name {
  font-weight: bold;
}

.badge {
  background:#e5e5e5;
  text-align:center;
  line-height:18px;
  padding: 5px;
  border-radius: 5px;
  box-shadow:0 0 1px #333;
}

::ng-deep .mat-card-header-text {
  width: 100%;
}
