<h2 id="news">News</h2>

<ul>
  <li>2017-08-29 - User geo locations and map (thanks to Antonio David Ponce for the initial prototype)</li>
  <li>2017-08-30 - About box</li>
  <li>2017-08-30 - Search box in location picker (thanks to Antonio David Ponce)</li>
  <li>2017-08-30 - User description and "what would you like to accomplish in this app" fields</li>
  <li>2017-08-30 - Clickable topic links and topic details pages</li>
  <li>2017-08-30 - Fixed meeting details not loading the first time</li>
  <li>2017-08-31 - Improved about page and nav-bar icons for People and Meetings</li>
  <li>2017-08-31 - Show count of meeting attendees</li>
  <li>2017-08-31 - User descriptions (text areas)</li>
  <li>2017-09-12 - Alpha.3 release
    <ul>
      <li>Location search field in map location picker dialog (thanks to Antonio David Ponce)</li>
      <li>Warn when trying to close tab or navigate away, when unsaved changes on User Profile</li>
      <li>More location types (hometown, where I visit)</li>
      <li>More interest types (mentor, intern, code review)</li>
      <li>Bugfix: attendant list was not updated correctly on changes</li>
      <li>Internal: big refactors and cleanups, especially related to user profile form</li>
      <li>About component updates</li>
      <li>About component: integration with Facebook (thanks to David Bernal Guerrero)</li>
      <li>Visual tweaks (margins, font sizes, etc.)</li>
    </ul>
  </li>
  <li>2017-09-17
    <ul>
      <li>Added user description to people list item card</li>
      <li>Changed name and logo to TopicFriends, topicfriends.org</li>
      <li>Ability to view profiles of other Users</li>
      <li>Showing User names on the map</li>
      <li>Adding topics by Users</li>
    </ul>
  </li>
  <li>2017-09-26
    <ul>
      <li>Improvements to maps</li>
      <li>Highlight symmetric/same/matching interests of other Users</li>
    </ul>
  </li>
  <li>2017-10-10 First beta release
  </li>
</ul>
