<h2 id="partners">Partners and Sponsors</h2>

<!-- TODO: Toptal, TLR, I-Campus, BeWorking, InnoTopic, MalagaMakers
  International People Malaga
  Digital Nomads Malaga
  Polish People Malaga
  NomadRadar
  Your Business Buddy
  Anatomic Software
  TODO: have like different levels of partnership; gold/silver/bronze
 -->

<div
  class="partners-container">
  <a
    href="https://espiral.io/"
  >
    <img
      class="partner-img"
      vertical-align="middle"
      src="assets/images/partners/espiral_logo_with_name.png" height="50px"></a>

  <a
    href="https://www.meetup.com/es/Angular-Malaga/"
  >
    <img
      class="partner-img"
      vertical-align="middle"
      src="assets/images/partners/angularmalaga3.png" height="50px"></a> <!-- Cannot have whitespace before </a> because will display underlined as link -->

  <a
    href="https://growworking.com/"
  >
    <img
      class="partner-img"
      vertical-align="middle"
      src="assets/images/partners/GrowWorking_Logotipo.svg" height="40px"></a> <!-- Cannot have whitespace before </a> because will display underlined as link -->

  <a
    href="http://ng-poland.pl/"
  >
    <img
      class="partner-img"
      vertical-align="middle"
      src="assets/images/partners/Logo_ngPoland_final_without_date only1.svg" height="90px"></a> <!-- Cannot have whitespace before </a> because will display underlined as link -->

  <a
    href="https://www.meetup.com/es-ES/yunemy/"
  >
    <img
      class="partner-img"
      vertical-align="middle"
      src="assets/images/partners/logo-yunemy-vertical.png" height="90px"></a>
  <a
    href="https://www.be-working.com/"
  >
    <img
      class="partner-img"
      vertical-align="middle"
      src="assets/images/partners/BeWorking_Logotype.svg" height="90px"></a>
</div>
