$partner-margin: 20px;
.partners-container {
  margin-top: -$partner-margin;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center
}

.partner-img {
  margin-top: $partner-margin;
  margin-right: $partner-margin;
}

