#privacy{
  margin: 0 2rem;
}

p{
    text-align: justify;
    text-indent: 3em;
  }
  h3{
    margin-left: 1em;
  }

  h4{
    margin-left: 2em;
  }

  h5{
    margin-left: 3em;
  }

a{
  text-decoration: none;
  color: darkgrey;
}
  .browsers{
    a{
     text-decoration: none;
     color: #000000;
     padding-left: 1em;
   }
 }

.days{
    text-align:center;
  }
