<div id="terms">
<h2 >Términos de uso del servicio</h2>
  <p><em>(Última actualización: {{lastUpdate}})</em></p>

  <h3>¿Qué es TopicFriends?</h3>
  <p>TopicFriends es un proyecto de código libre actualmente en fase de desarrollo. TopicFriends es un servicio gratuito
    que permite conectar a usuarios que comparten intereses e inquietudes. El usuario durante el proceso de creación de
    su perfil elegirá entre un amplio abanico de intereses relacionados con lenguajes de programación, desarrollo web,
    diseño, negocios y otras temáticas que se irán añadiendo a lo largo de la fase de desarrollo.
  </p>

  <h4>Introducción:</h4>
  <p>Los siguientes términos del servicio de la página web, regulan las condiciones de acceso y uso de topicfriends.org.
    Como usuario debes leerlos y aceptarlos para poder disfrutar de todos los servicios e información que se se
    facilitan
    en nuestro sitio. El mero acceso y/o utilización del sitio web, de todos o parte de sus contenidos y/o servicios,
    significa la plena aceptación de los presentes términos de uso.
  </p>
  <h4>Condiciones de uso:</h4>
  <p>Los presentes términos de uso, regulan el acceso y utilización del sitio web topicfriends.org. Incluyendo los
    contenidos y los servicios que ponemos a tu disposición. No obstante, el acceso, utilización de contenidos y/o
    servicios podría verse sometido a determinadas condiciones específicas.
  </p>
  <h4>Modificaciones:</h4>
  <p>Desde TopicFriends, nos reservamos el derecho de modificar estos términos de uso de nuestro servicio. En todo caso,
    se recomienda que consultes los presentes términos de uso periódicamente, ya que pueden ser modificados.</p>
  <h4>Obligaciones del Usuario:</h4>
  <p>Como usuario, te pedimos que respetes en todo momento los términos y condiciones establecidos en los presentes
    términos de uso. De forma expresa, como usuario manifiestas que utilizarás el portal de forma diligente y asumiendo
    cualquier responsabilidad que pudiera derivarse del incumplimiento de las normas.</p>
  <p>Así mismo, como usuario no puedes utilizar nuestro sitio web para transmitir, almacenar, divulgar, promover o
    distribuir datos o contenidos que sean portadores de virus o cualquier otro código informático, archivos o programas
    diseñados para interrumpir, destruir o perjudicar el funcionamiento de cualquier programa, equipo informático o de
    telecomunicaciones propio o de un tercero.
  </p>
  <h4>Responsabilidad del portal:</h4>
  <p>Como usuario, entiendes y aceptas que nuestro sitio web no otorga ninguna garantía de ninguna naturaleza, ya sea
    expresa o implícita, sobre los datos, contenidos, información y servicios que se incorporan y ofrecen desde el
    Portal. Exceptuando los casos que la ley imponga expresamente lo contrario, y exclusivamente con la medida y
    extensión en que lo imponga. Topicfriends no garantiza ni asume responsabilidad alguna respecto a posibles daños y
    perjuicios ocasionados por el uso y utilización de la información, datos y servicios del portal web.</p>
  <h4>Propiedad intelectual e industrial</h4>
  <p>Todos los contenidos, marcas, logos, dibujos, documentación, programas informáticos o cualquier otro elemento
    susceptible de protección por la legislación de propiedad industrial o intelectual, que sean accesibles desde
    nuestro sitio web, corresponden exclusivamente a TopicFriends. Quedan expresamente reservados todos los derechos
    sobre los mismos.</p>
  <p>En cualquier caso, TopicFriends se reserva todos los derechos sobre los contenidos, información, datos y servicios
    que ostente sobre los mismos. No concedemos ninguna licencia o autorización de uso a nuestros usuarios sobre los
    contenidos, datos o servicios, distinta de la que expresamente se detalla en los presentes términos de uso de
    nuestro servicio.</p>
  <h4>Legislación aplicable, jurisdicción aplicable y notificaciones:</h4>
  <p>Los presentes términos de uso de nuestro servicio se rigen y se interpretan de acuerdo a las leyes de España y de
    la Unión Europea. Todas las notificaciones, requerimientos, peticiones y otras comunicaciones que como usuario
    desees efectuar a TopicFriends, se entenderán que han sido correctamente realizadas cuando hayan sido recibidas en
    la dirección: Avda. Editor Angel Cafarena, nº15. En cualquier caso, ponte siempre en contacto con nosotros a
    través del correo electrónico:
    <a href="mailto:contact@topicfriends.org?Subject=Consulta%20Terminos">contact@topicfriends.org</a> :) </p>
</div>
