<!-- Reusable component: -->
<app-item-list-input [formGroup1]="_userProfileForm">
  <app-item-list-input-title>
    Hola Luis! <md-icon>build</md-icon>Reusable Component <b>title</b>!
  </app-item-list-input-title>
</app-item-list-input>

<!-- Reusable component: -->
<app-item-list-input style="width:100%" [formGroup1]="_userProfileForm">
  <app-item-list-input-title>
    (reusable component 2) <md-icon>build</md-icon> I would like to <b><u>find</u> a mentor</b> with skills:
  </app-item-list-input-title>
</app-item-list-input>
