mat-toolbar{
  background-color: black;
  color: #ffff;
  font-size: .8em;
  display: flex;
  flex-direction: row;
  height: 10vh;


  mat-toolbar-row{
    height: 5vh;

    a,span{
      padding-right: 1rem;
      text-decoration: none;
      color: #ffffff;

    }
  }
}
.legal{
  width: 50%;

}

.contact{
  display: flex;
  width: 50%;


  span{
    background-color: #808080;
    padding: 0 1em;
    flex: 0 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a{
    width: 12.5%;
    flex: 0 1 25%;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  a:hover{
    background-color: #000000;
  }
}
.facebook{
  background-color: #3b5998;
  display: block;
  color: #ffffff;
}

.medium{
  background-color: #1c9963;
  display: block;
  color: #ffffff;
}
