<footer>
    <div class="legal">
      <span>
        <a routerLink="/terms" routerLinkActive="active">Términos de uso</a>
      </span>
      <span>|</span>
      <span>
        <a routerLink="/privacy" routerLinkActive="active">Política de privacidad</a>
      </span>
    </div>

    <div class="contact">
      <span class="mail">
        <a href="mailto:contact@topicfriends.org">
          contact@topicfriends.org
        </a>
      </span>
      <a class="facebook" href="https://www.facebook.com/TopicFriends/" >
        <span>
          <i class="fa fa-facebook"></i>
        </span>
      </a>
      <a class="medium" href="https://medium.com/@topicfriends" >
        <span>
          <i class="fa fa-medium"></i>
        </span>
      </a>
    </div>

</footer>

