<footer>
  <mat-toolbar>
    <div class="legal">
      <mat-toolbar-row>
        <a href="#">TÉRMINOS DE USO</a>
        <span>|</span>
        <a href="#">POLÍTICA DE PRIVACIDAD</a>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <p>&copy; 2018 - TopicFriends</p>
      </mat-toolbar-row>

    </div>
    <div class="contact">
      <span>&#9993; contact@topicfriends.org </span>
      <a href="https://www.facebook.com/TopicFriends/" class="facebook"><i class="fa fa-facebook fa-2x"></i></a>
      <a href="https://medium.com/@topicfriends" class="medium"><i class="fa fa-medium fa-2x"></i></a>
    </div>
  </mat-toolbar>
</footer>

