<button class="mat-button" style="font-size: 1em; margin-bottom: 0.5em;"
        routerLink="/meeting-list">< Back to meetings list
</button>

<md-card *ngIf="meeting !== undefined">
  <md-card-title-group>
    <md-card-title>
      {{meeting.title}}
      <app-going-button style="margin-left: 3em" [meeting]="meeting"
                        [meetingAttendanceByUser]="meetingAttendanceByUser"></app-going-button>
    </md-card-title>
  </md-card-title-group>
  <md-card-content>
    <p><em>{{meeting.date}}</em> at <b>{{meeting.place}}</b></p>
    <a href="{{meeting.meetupLink}}">Meetup link</a>
    <div style="padding-top: 1em; pading-bottom: 1em" [innerHtml]="meeting.description"></div>
    <p>Joining us for this meetup:</p>
    <app-meeting-attendance-user-list
      [meetingId]="meetingId">
    </app-meeting-attendance-user-list>
  </md-card-content>
</md-card>

<button class="mat-button" style="font-size: 1em; margin-top: 0.5em;"
        routerLink="/meeting-list">< Back to meetings list
</button>
