

<mat-card style="margin-bottom: 10px">

  <mat-card-title>
    Skill Levels

    <mat-form-field
      style="width:100%"
    >
      <input
        matInput
      >
      <mat-placeholder>
        Filter Skills (TODO)
      </mat-placeholder>
    </mat-form-field>
  </mat-card-title>

  <mat-card-content>

    <!--<ng-template -->
    <app-user-skill
      *ngFor="let tag of topicsService.topics"
      [tag]="tag"
    ></app-user-skill>
    <!--</ng-template>-->

    <!--<div [formGroup]="formGroup">-->


      <!--<ng-template [ngIf]="! otherProfiles" >Loading external profiles...</ng-template>-->

    <!--</div>-->

  </mat-card-content>
</mat-card>
