md-card-title {
  margin: -24px;
  margin-top: -24px !important;
  padding: 10px;
  background-color: #fffca2;
  margin-bottom: 0 ! important;
  font-size: 20px;
  border-radius: 8px;
}

.mat-card {
  border-radius: 8px;
}
