<div
  [formGroup]="thisFormGroup"
>

  <ng-template [ngIf]="! userProfileReceived" >Loading User profile basic info...<br/></ng-template>

  <img style="width: 100px; margin-top: 5px" src="{{photoUrl}}" />
  <p *ngIf="! userProfileInputs.isUserIdFromRouter">
    <span class="grayed-label">Log-in Account Name: </span>{{ (authService.user | async)?.displayName }}
  </p>
  <p>
    <span class="grayed-label">User Id: </span>[User_{{userProfileInputs.userId}}]
  </p>


  <!--<button-->
    <!--md-button-->
    <!--md-raised-button-->
    <!--(click)="copyUserId()"-->
  <!--&gt;-->
    <!--Copy-->
  <!--</button>-->

  <!-- TODO: [position] at [organization] -->
  <!-- TODO: save creation date-->
  <!-- TODO: save number of profile updates -->

  <md-input-container
    style="width: 100%"
  >
    <md-placeholder>
      Display Name
    </md-placeholder>

    <!--<input (keydown.meta.s)="save()" mdInput-->
    <input
      mdInput
      [formControlName]="'displayName'"
    >
  </md-input-container>

</div>
