h2 {
  display: inline-block;
}
.black-button {
  background-color: black;
  color: #fff;
}
app-supply-demand-button-group {
  width: 100%;
}
.relative-position {
  position: relative;
}

.floating-right {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 28px;
}

.fit-content {
  min-width: fit-content;
  max-width: fit-content;
}
