<button md-raised-button style="padding: 0.2em; background: #3498db;">
  <md-icon style="display: inline-block; margin-left: 0.5em; color: white;">phone</md-icon>
  <p style="display: inline-block; margin: 0px; padding-left: 0.5em; padding-right: 0.5em; color: white;">Call</p>
</button>
<button md-raised-button style="padding: 0.2em; background: #2ecc71;">
  <img style="height: 20px; width: auto; margin-left: 0.5em;" src="assets/icons/whatsapp-logo.png">
  <p style="color: white; display: inline-block; margin: 0px; padding-left: 0.5em; padding-right: 0.5em;">Text</p>
</button>
