
<h1>User List</h1>


<ng-template [ngIf]="userListSaved">
  <span>{{userListSaved.length}} People. {{ potentialConnectionsCount() }} potential connections between people!</span>
  <br>
  <span>Sort by: &nbsp;</span>
  <mat-form-field>
    <mat-select value="0" (selectionChange)="sortUserListBy(sortFunctions[$event.value])">
      <mat-option value="0">Match Score</mat-option>
      <mat-option value="1">Last Update</mat-option>
    </mat-select>
  </mat-form-field>


  <!--Max distance from me:-->
  <!--<mat-slider-->
    <!--min="100"-->
    <!--max="50000"-->
    <!--step="200"-->
    <!--tickInterval="3"-->
    <!--[(ngModel)]="maxDistance"-->
    <!--(input)="maxDistanceChange($event)"-->
  <!--&gt;</mat-slider>-->
  <!--{{ maxDistance | distance }}-->

</ng-template>

<div *ngIf="! userListCombinedSorted">
  <mat-spinner></mat-spinner>
  <p>Loading User List and calculating MatchScore-s…</p>
</div>


<nw-user-list-item
  *ngFor="let userMatched of userListCombinedSorted; trackBy: trackByKey"
  [userMatched]="userMatched"
></nw-user-list-item>
