
<h1>User List</h1>


<ng-template [ngIf]="userListSaved">
  <span>{{userListSaved.length}} People. {{ potentialConnectionsCount() }} potential connections between people!</span>
  <br>
  <span>Sort by: &nbsp;</span>
  <mat-form-field>
    <mat-select value="0" (selectionChange)="sortUserListBy(sortFunctions[$event.value])">
      <mat-option value="0">Match Score</mat-option>
      <mat-option value="1">Last Update</mat-option>
    </mat-select>
  </mat-form-field>


  <!--Max distance from me:-->
  <!--<mat-slider-->
    <!--min="100"-->
    <!--max="50000"-->
    <!--step="200"-->
    <!--tickInterval="3"-->
    <!--[(ngModel)]="maxDistance"-->
    <!--(input)="maxDistanceChange($event)"-->
  <!--&gt;</mat-slider>-->
  <!--{{ maxDistance | distance }}-->

</ng-template>

<div *ngIf="! userListCombinedSorted">
  <mat-spinner></mat-spinner>
  <p>Loading User List and calculating MatchScore-s…</p>
</div>


<nw-user-list-item
  *ngFor="let user of userListCombinedSorted; trackBy: trackByKey"
  [userProfile]="user.userDataCombined.userData"
></nw-user-list-item>
<!-- TODO: pass UserMatched instead -->
<!-- TODO: restore trackBy: trackByKey -->

<!--<div-->
  <!--*ngFor="let user of userListCombinedSorted"-->
<!--&gt;-->
  <!--Person: {{user.profile.displayName}}-->
<!--</div>-->


<!--<br/>-->
<!--<br/>-->
<!--Matched Users:-->
<!--<div-->
  <!--*ngFor="let user of userListCombinedSorted2"-->
<!--&gt;-->
  <!--Person: {{user.userDataCombined.profile.displayName}},-->
  <!--MatchScore: {{user.matchResults?.matchScore}},-->
  <!--LastSaved: {{user.userDataCombined.profile.lastSaved}}-->
<!--</div>-->


<!--<div style="height: 100px;"></div>-->
