<h2 mat-dialog-title>{{data.name}}</h2>
<div fxLayout="column">

  <div fxLayout="row" fxLayoutAlign="center center">

    <div fxLayout="column" style="display:inline-block">
      <h4>Have</h4>
      <mat-button-toggle-group #want="matButtonToggleGroup" vertical value="?">
        <mat-button-toggle value="?">
          <span>?</span>
        </mat-button-toggle>
        <mat-button-toggle value="none">
          <span>None</span>
        </mat-button-toggle>
        <mat-button-toggle value="beginner">
          <span>Beginner</span>
        </mat-button-toggle>
        <mat-button-toggle value="intermediate">
          <span>Intermediate</span>
        </mat-button-toggle>
        <mat-button-toggle value="advanced">
          <span>Advanced</span>
        </mat-button-toggle>
        <mat-button-toggle value="expert">
          <span>Expert</span>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div fxLayout="column" style="display:inline-block">
      <h4>Want</h4>
      <mat-button-toggle-group #desire="matButtonToggleGroup" vertical value="?">
        <mat-button-toggle value="?">
          <span>?</span>
        </mat-button-toggle>
        <mat-button-toggle value="none">
          <span>None</span>
        </mat-button-toggle>
        <mat-button-toggle value="beginner">
          <span>Beginner</span>
        </mat-button-toggle>
        <mat-button-toggle value="intermediate">
          <span>Intermediate</span>
        </mat-button-toggle>
        <mat-button-toggle value="advanced">
          <span>Advanced</span>
        </mat-button-toggle>
        <mat-button-toggle value="expert">
          <span>Expert</span>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>

  <button mat-button [mat-dialog-close]="[want.value, desire.value]">Save</button>

</div>
