<p>
  My Profile
</p>
<ng-template [ngIf]="! userProfile" >Loading Profile...</ng-template>
<ng-template [ngIf]="userProfile">
  <form [formGroup]="_userProfileForm">

    <md-input-container>
      <md-placeholder>
        <md-icon>build</md-icon> I would like to <b>be hired as freelance</b> with skills
      </md-placeholder>
      <input mdInput
             formControlName="wantToBeFreelance">
    </md-input-container> <!-- ngModel variable is missing due to code crashing -->
    <!-- [(ngModel)]="userProfile?.whatUserWants?.freelance?.supply?.topics" -->

    <br />
    <md-input-container>
      <md-placeholder>
        <md-icon>build</md-icon> I would like to <b>hire freelance</b> with skills:
      </md-placeholder>

      <input mdInput
             formControlName="wantToHireFreelance"> <!-- ngModel variable is missing due to code crashing -->
    </md-input-container>

    <br />
    <i class="material-icons">build</i>
    <md-input-container>
      <input mdInput placeholder="I would like to be hired for" >
      <!--<md-error *ngIf="emailFormControl.hasError('required')">-->
      <!--This field is required-->
      <!--</md-error>-->
      <!--<md-error *ngIf="emailFormControl.hasError('pattern')">-->
      <!--Please enter a valid email address-->
      <!--</md-error>-->
    </md-input-container>


    <md-input-container>
      <input mdInput placeholder="I would like to find mentor" value="Angular, Ionic, Firebase">
    </md-input-container>

    <md-input-container>
      <input mdInput placeholder="I would like to mentor someone in" value="Angular, Ionic, Firebase">
    </md-input-container>

    <md-input-container>
      <input mdInput placeholder="I would like to exchange skills in" value="Angular, Ionic, Firebase">
    </md-input-container>

    <p>
      <button md-button md-raised-button (click)="save()">Save <i>(Enter)</i></button>

    </p>


  </form>

</ng-template>
