<div class="container-fluid">

<div
  (window:keydown.meta.s)="keyDownSave($event)"
  (window:keydown.control.s)="keyDownSave($event)"
>

<h2>
  My Public Profile
</h2>

<ng-template [ngIf]="! userProfileService.userId" >
  <button md-raised-button routerLink="/login">
    Please log in, to access your profile
  </button>
</ng-template>

<ng-template [ngIf]="userProfileService.userId">

  <form>

    <app-user-profile-basic-info
      #basicInfo
      [thisFormGroup]="userProfileBasicInfoFormGroup"
    ></app-user-profile-basic-info>

    <app-user-description
      #userDescriptions
      [thisFormGroup]="userDescriptionsFormGroup"
    ></app-user-description>

    <app-user-geo-locations
      #userGeoLocations
      [parentFormGroup]="userGeoLocationsFormGroup"
    ></app-user-geo-locations>

    <app-user-other-profiles
      #userOtherProfiles
      [parentFormGroup]="formGroup"
    ></app-user-other-profiles>

    <h2>Actionable interests</h2>

    <app-user-interests
      #userInterests
      [thisFormGroup]="userInterestsFormGroup"
    ></app-user-interests>

  </form>

  <p>
    <button
      id="saveProfile"
      style="
        width:100%
      "
      md-button
      md-raised-button
      color="primary"
      (click)="save()"
      [disabled]="! hasUnsavedChanges()"
    >
      Save <i>(Cmd/Ctrl+S)</i>
    </button>
  </p>

</ng-template>
</div>

<app-user-pick-location-modal
  id="showLocationPickerModal"
  class="modal fade"
  role="dialog"
></app-user-pick-location-modal>

</div>
