
<div
  *ngIf="userProfileInputs?.isEditable"
  (window:keydown.meta.s)="keyDownSave($event)"
  (window:keydown.control.s)="keyDownSave($event)"
></div>

<h2>
  Public Profile
</h2>

<ng-template [ngIf]="! userProfileService.userId" >
  <button md-raised-button routerLink="/login">
    Please log in, to access your profile
  </button>
</ng-template>

<ng-template [ngIf]="userProfileInputs">

  <form>

    <app-user-profile-basic-info
      [userProfileInputs]="userProfileInputs"
      #basicInfo
      [thisFormGroup]="userProfileBasicInfoFormGroup"
    ></app-user-profile-basic-info>

    <app-user-description
      [userProfileInputs]="userProfileInputs"
      #userDescriptions
      [thisFormGroup]="userDescriptionsFormGroup"
    ></app-user-description>

    <app-user-geo-locations
      [userProfileInputs]="userProfileInputs"
      #userGeoLocations
      [parentFormGroup]="userGeoLocationsFormGroup"
    ></app-user-geo-locations>

    <app-user-other-profiles
      [userProfileInputs]="userProfileInputs"
      #userOtherProfiles
      [parentFormGroup]="formGroup"
    ></app-user-other-profiles>


    <app-user-skills

    ></app-user-skills>

    <h2 id="actionable-interests">Actionable Interests</h2>

    <app-user-interests
      [userProfileInputs]="userProfileInputs"
      #userInterests
      [thisFormGroup]="userInterestsFormGroup"
    ></app-user-interests>





  <label for="checkPrivacity">
    <input class='form-control' type="checkbox" name="checkPrivacity" id="checkPrivacity" [(ngModel)]="checkPrivacityValue">
    He leido y acepto el <a routerLink="/about" class="privacityLink">Acuerdo de Privacidad</a>.
  </label>

</form>
  <p
    *ngIf="userProfileInputs.isEditable"
  >
    <button
      id="saveProfile"
      style="
        width:100%
      "
      md-button
      md-raised-button
      color="primary"
      (click)="save()"
      [disabled]="! hasUnsavedChanges()"
    >
      Save <i>(Cmd/Ctrl+S)</i>
    </button>
  </p>

</ng-template>

