/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '../node_modules/primeng/resources/themes/omega/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';

$max-screen-width: 600px;
$names: #fff;
$blur-radius: 1px;

body{
  padding: 0px;
  margin:0px;

}

*{
  font-family: 'Roboto', sans-serif;
}

.disable-scrolling {
  overflow: hidden;
}

div.gm-style  > div > div > div > div > div > div > div {
  text-shadow:
    -1px 0 $blur-radius $names,
    0 1px $blur-radius $names,
    1px 0 $blur-radius $names,
    0 -1px $blur-radius $names;
}

html { overflow-x:hidden; }
