button, mat-form-field {
  margin: 0.25em auto;
}

#loginViaEmailPassword,
#signUpViaEmailPassword {
  background: #673ab7;
  color: white;
}

.login-form,
.signup-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.login-full-width,
.signup-full-width {
  width: 100%;
}

.reset-password-area{
  margin-top: 1em;
  color: #aaaaaa;
}