<button
  style="margin-top: 0.5rem"
  id="loginRegisterSwitch" mat-button mat-raised-button (click)="toggleLoginSignUpFields()">
  {{!logInSignUpToggleButton ? "Switch to Register" : "Switch to Login "}}
</button>

<div *ngIf="!(logInSignUpToggleButton)">
  <form (ngSubmit)="logInViaEmailAndPassword(f)" #f="ngForm">
    <div>
      <mat-form-field class="login-full-width">
        <input ngModel class="form-control" [formControl]="loginEmailFormControl" name="email" matInput id='email'
               placeholder="Login E-mail" value="">
       
        <mat-error *ngIf="loginEmailFormControl.hasError('email') && !loginEmailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="loginEmailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="login-full-width">
        
        <input type="password" matInput [formControl]="loginPasswordFormControl" name="password" matInput id='password'
               placeholder="Login password" value="" minlength="8">
        <mat-error *ngIf="!loginPasswordFormControl.hasError('minLength')">
          Password has to have at least 8 characters
        </mat-error>
        <mat-error *ngIf="loginPasswordFormControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-error *ngIf="errorMessage">
        {{errorMessage}}
      </mat-error> 
    </div>
    <br>
    <button id='loginViaEmailPassword' mat-button mat-raised-button (click)="logInViaEmailAndPassword()"
            [disabled]="!f.valid">
      Log in
    </button>
  </form>
  <button id='reset-password-button'
          class="tf-toolbar-btn"
          mat-button
          (click)="openResetPasswordDialog()">
          Reset password
  </button>
</div>

<div *ngIf="logInSignUpToggleButton">
  <form (ngSubmit)="signUpWithEmailAndPassword(f)" #f="ngForm">
    <div>
      <mat-form-field class="signup-full-width">
        <input matInput [formControl]="registerEmailFormControl" name="email" matInput id='email'
               placeholder="Register E-mail" value="">
        <mat-error
          *ngIf="registerEmailFormControl.hasError('email') && !registerEmailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="registerEmailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="signup-full-width">
        <input type="password" matInput [formControl]="registerPasswordFormControl" name="password" matInput id='password'
               placeholder="Register password" value="">
        <mat-error *ngIf="!registerPasswordFormControl.hasError('minLength')">
          Password has to have at least 8 characters
        </mat-error>
        <mat-error *ngIf="registerPasswordFormControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="signup-full-width">
        <input type="password" matInput [formControl]="repeatPasswordFormControl" name="password2" matInput id='password2'
               placeholder="Confirm password" value="">
        <mat-error *ngIf="!repeatPasswordFormControl.hasError('minLength')">
          Password has to have at least 8 characters
        </mat-error>
        <mat-error *ngIf="repeatPasswordFormControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
        
      </mat-form-field>
      <mat-error *ngIf="errorMessage">
          {{errorMessage}}
        </mat-error> 
    </div>
    <button id='signUpViaEmailPassword' mat-button mat-raised-button (click)="signUpWithEmailAndPassword()"
            [disabled]="!f.valid">
      Create Account
    </button>
  </form>
</div>
