$icon-size: 80px;
$icon-margin: 5%;

.tf-login-container {
  margin-top: 12px;
  text-align: -webkit-center;
}

.tf-login-icon {
  height: $icon-size;
  width: $icon-size;
  margin-right: $icon-margin;
  margin-top: -1.5rem;
  margin-bottom: -1.5rem;
}

button {
  //padding: 15px;
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h2 {
  margin-top: 0;
  margin-bottom: 15px;
}
