<div class="tf-login-container">
  <h2 style="margin-bottom: 0.7em">
    Log In or Sign Up
  </h2>
  <button mat-button mat-raised-button (click)="logInViaGoogle()">
    <img class="tf-login-icon" src="assets/images/logos/google.svg">
  </button>
  <br />
  <button mat-button mat-raised-button (click)="logInViaGithub()">
    <img class="tf-login-icon" src="assets/images/logos/github.svg">
  </button>
  <br />
  <button mat-button mat-raised-button (click)="logInViaLinkedin()">
    <img class="tf-login-icon" src="assets/images/logos/linkedin.svg">
    <!-- LinkedIn log-in disabled until further discussion.
      Considerations:
      - implemented using firebase sdk (not AngularFire) which might collide (version/instance)
      - requires paid firebase plan (blaze) - hosting costs started to sum up
      - not much value (LinkedIn does not seem to have a lot of APIs to get data?)
      - JSONP - being phased out?
      - pending questions over which parts should or should not go into which html files
     -->
  </button>
  <br />
  <app-login-by-email-and-password></app-login-by-email-and-password>
  <br />
  <button mat-button mat-raised-button (click)="testFirestore()">
    Test firestore
  </button>
</div>
