$icon-size: 80px;
$icon-margin: 5%;

.tf-login-container {
  margin-top: 12px;
  text-align: -webkit-center;
}

.tf-login-icon {
  height: $icon-size;
  width: $icon-size;
  margin-right: $icon-margin;
}

button {
  //padding: 15px;
  width: 100%;
}

h2 {
  margin-top: 0px;
  margin-bottom: 15px;
}

#loginViaEmailPassword,
#signUpViaEmailPassword {
  background: #673ab7;
  color: white;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
