<div style="margin-top: 12px">
  <h2>
    Log in
  </h2>

  <button
    md-button
    md-raised-button
    (click)="logInViaGoogle()"
  >
    <img
      src="assets/images/logos/google.svg"
      height="80px"
      width="80px"
      style="margin-right: 3em"
    >
    Log in via Google
  </button>

  <br/>
  <br/>

  <button
    md-button
    md-raised-button
    (click)="logInViaLinkedin()"
  >
    <img
      src="assets/images/logos/linkedin.svg"
      height="80px"
      width="80px"
      style="margin-right: 3em"
    >
    Log in via LinkedIn
    <!-- LinkedIn log-in disabled until further discussion.
      Considerations:
      - implemented using firebase sdk (not AngularFire) which might collide (version/instance)
      - requires paid firebase plan (blaze) - hosting costs started to sum up
      - not much value (LinkedIn does not seem to have a lot of APIs to get data?)
      - JSONP - being phased out?
      - pending questions over which parts should or should not go into which html files
     -->
  </button>

</div>
