<div class="tf-login-container">
  <h2>
    Log in
  </h2>

  <!-- https://material.angular.io/components/input/examples -->
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput id='login-email' placeholder="Login E-mail" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <textarea id='login-password' matInput placeholder="Login password"></textarea>
    </mat-form-field>
  </form>

  <button
    mat-button
    mat-raised-button
    (click)="logInViaGoogle()"
  >
    <img
      class="tf-login-icon"
      src="assets/images/logos/google.svg"
    >
    Log in via Google
  </button>

  <br/>
  <br/>

  <button
    mat-button
    mat-raised-button
    (click)="logInViaLinkedin()"
  >
    <img
      class="tf-login-icon"
      src="assets/images/logos/linkedin.svg"
    >
    Log in via LinkedIn
    <!-- LinkedIn log-in disabled until further discussion.
      Considerations:
      - implemented using firebase sdk (not AngularFire) which might collide (version/instance)
      - requires paid firebase plan (blaze) - hosting costs started to sum up
      - not much value (LinkedIn does not seem to have a lot of APIs to get data?)
      - JSONP - being phased out?
      - pending questions over which parts should or should not go into which html files
     -->
  </button>

</div>
