app-header {
  position: relative;
  z-index: 100;
}

.content-container{
    margin-top:0px;
    margin-left:71px;
     padding:10px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.content-container-mobile{
    margin-top:0px;
    padding: 5px;
    //margin-left: 0px;
    margin-left: inherit;
//+    margin-left: 0px;
    margin-bottom:60px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.cookie-law::ng-deep  {
  vertical-align: middle;
  //background-color: red;
}

.cookie-law-wrapper .copy {
  vertical-align: middle;
  display: flex;
  align-items: center;
  padding-right: 10px !important;
}

a.dismiss {
  display: none !important
}
