app-header {
  position: relative;
  z-index: 100;
}

.content-container{
    margin-top:0px;
    margin-left:21px;
    padding:10px;
    overflow-x: hidden;
    min-height: 87.5vh;
    max-height: 87.5vh;
}

app-footer{
  width: 100%;
  position: absolute;
  top: 95vh;
  right: 0;
  margin: 0;
  padding: 0;

}

mat-sidenav {
  width: 200px;
}

app-wrapper {
  min-width: 100vw;
  max-width: 100vw;
}

@media only screen and (max-width: 600px) {
  .content-container{
    overflow-y: scroll;
    min-height: 91.8vh;
    max-height: 91.8vh;
    margin-left:5px;
  }
}

