<app-header></app-header>
<div class="content-container" class.xs="content-container-mobile">
  <router-outlet></router-outlet>
</div>

<app-navbar></app-navbar>

<cookie-law
  learnMore="about#Terms"
>
  <div style="display: flex; align-items: center; width: 100%">
    <div style="flex-grow:1">
      Utilizamos cookies propias y de terceros para mejorar su experiencia y nuestros servicios,
      analizando la navegación en nuestro Sitio Web. Si continúa navegando, usted está aceptando su uso.
      Puede obtener más información en nuestra <a href="/about#Terms">Política de Privacidad</a>.
    </div>
    &emsp;
    <button
      (click)="dismissCookieLaw()"
      mat-raised-button
      color="primary"
      style=""
    >
      Aceptar
    </button>
  </div>
</cookie-law>
