@import '~variables.scss';

app-header {
  position: relative;
  z-index: 100;
}

.content-container{
    margin: 0 0 0 21px;
    padding: $toolbar-height 10px 0 10px;
    overflow-x: hidden;
    height: 100%;
    min-height: calc(100vh - #{$footer-height} - #{$toolbar-height});
}

app-footer{
  width: 100%;
  position: relative;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;

}

mat-sidenav {
  width: 150px;
  position: fixed !important;
  top: $toolbar-height !important;
  height: 100vh;
}

app-wrapper {
  min-width: 100vw;
  max-width: 100vw;
}

@media only screen and (max-width: 700px) {
  .content-container{
    overflow-y: scroll;
    margin-left:5px;
    padding: $toolbar-height-mobile 10px 0 10px;
    min-height: calc(100vh - #{$toolbar-height-mobile});
  }

  mat-sidenav {
    top: $toolbar-height-mobile !important;
  }
}

