<div class="app-wrapper">
  <app-header [sidenav]="sidenav"></app-header>

  <mat-sidenav-container>
    <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="40">
      <app-navbar></app-navbar>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="content-container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <app-footer></app-footer>

  <app-cookie-info></app-cookie-info>

</div>
