<md-card style="margin-bottom: 0.5em">
  <md-content>
    <app-item-list-input id="topicsExchange"
                         [chosenTags]="userInterests?.byInteractionMode?.symmetric?.exchange?.topics"
                         (outputTagList)="updateWantExchange($event)"
    ><app-item-list-input-title>
        <md-icon>build</md-icon>I would like to <b>exchange knowledge</b> on topics
      </app-item-list-input-title>
    </app-item-list-input>
  </md-content>
</md-card>

<md-card style="margin-bottom: 0.5em">
  <md-content>
    <app-item-list-input id="topicsHackathon"
                         [chosenTags]="userInterests?.byInteractionMode?.symmetric?.hackathon?.topics"
                         (outputTagList)="updateWantHackathon($event)"
    ><app-item-list-input-title>
        <md-icon>build</md-icon>I would like to do <b>hackathon</b> on topics
      </app-item-list-input-title>
    </app-item-list-input>

  </md-content>
</md-card>

<md-card style="margin-bottom: 0.5em">
  <md-content>
    <app-item-list-input id="topicsPairProgramming"
                         [chosenTags]="userInterests?.byInteractionMode?.symmetric?.pairProgramming?.topics"
                         (outputTagList)="updateWantPairProgramming($event)"
    ><app-item-list-input-title>
        <md-icon>build</md-icon>I would like to do <b>pair programming</b> on topics
      </app-item-list-input-title>
    </app-item-list-input>
  </md-content>
</md-card>


<ng-template *ngIf="showSupplyDemand" >

  <!--<md-input-container>-->
  <!--<md-placeholder>-->
  <!--<md-icon>build</md-icon> I would like to <b><u>be hired</u> as freelance</b> with skills-->
  <!--</md-placeholder>-->
  <!--<input mdInput type="text"-->
  <!--formControlName="wantToBeFreelance" [mdAutocomplete]="auto">-->
  <!--</md-input-container> &lt;!&ndash; ngModel variable is missing due to code crashing &ndash;&gt;-->
  <!--<md-autocomplete #auto="mdAutocomplete">-->
  <!--<md-option *ngFor="let option of options" [value]="option">-->
  <!--{{ option }}-->
  <!--</md-option>-->
  <!--</md-autocomplete>-->
  <!-- [(ngModel)]="userProfile?.whatUserWants?.freelance?.supply?.topics" -->

  <br />
  <md-input-container>
    <md-placeholder>
      <md-icon>build</md-icon> I would like to <b><u>hire</u> freelance</b> with skills:
    </md-placeholder>

    <input mdInput
           formControlName="wantToHireFreelance"> <!-- ngModel variable is missing due to code crashing -->
  </md-input-container>

  <br />
  <md-input-container>
    <md-placeholder>
      <md-icon>build</md-icon> I would like to <b><u>find</u> a mentor</b> with skills:
    </md-placeholder>

    <input mdInput
           formControlName="wantToFindMentor"> <!-- ngModel variable is missing due to code crashing -->
  </md-input-container>

  <br />
  <md-input-container>
    <input mdInput
           formControlName="wantToBecomeMentor"> <!-- ngModel variable is missing due to code crashing -->
    <md-placeholder>
      <md-icon>build</md-icon> I would like to <b><u>become</u> a mentor</b> with skills:
    </md-placeholder>

    <md-hint>
      <md-icon>favorite</md-icon> Be a hero and help others learn! The good karma will come back to you.
    </md-hint>
    <!--<md-hint>-->
    <!--I also <md-icon>home</md-icon> <i>italic</i> hint labels-->
    <!--</md-hint>-->


  </md-input-container>

</ng-template>
