$img-size: 38px;
$map-height: 600px;

.url-icon {
  height: $img-size;
  width: $img-size;
  margin: 0.5em;
  vertical-align: middle;
}

iframe {
  vertical-align: middle
}

app-topics-map {
  height: $map-height;
  display: block;
}
