mat-form-field {
  /*width: 300px;*/
  width: 100%;
}
.privacityLink{
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

.hidden {
  display:none;
}

.save-fab {
  position: fixed;
  z-index: 2;
  bottom: 20px;
  right: 20px;
}

.saveProfileButton {
  width:80%;
  margin-left: 10%;
}

