mat-form-field {
  /*width: 300px;*/
  width: 100%;
}
.privacityLink{
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

.hidden {
  display:none;
}

.save-fab {
  position: fixed;
  z-index: 2;
  top: calc(100vh - 120px);
  left: calc(100vw - 100px);
}

.saveProfileButton {
  width:80%;
  margin-left: 10%;
}

@media only screen and (max-width: 600px) {
  .save-fab {
    position: fixed;
    z-index: 2;
    top: calc(100% - 150px);
  }
}
