
<div
  *ngIf="userProfileInputs?.isEditable"
  (window:keydown.meta.s)="keyDownSave($event)"
  (window:keydown.control.s)="keyDownSave($event)"
></div>
<div fxLayoutAlign="space-between center">
  <h2>
    Public Profile
  </h2>
  <button mat-button routerLink="/config" *ngIf="userProfileService.userId">
    Config
  </button>
</div>

<ng-template [ngIf]="!userProfileService.userId && isOwnProfile()" >
  <button mat-raised-button (click)="openDialog()">
    Please log in, to access your profile
  </button>
</ng-template>

<ng-template [ngIf]="shouldShowUserProfile()">

  <form>

    <app-user-profile-basic-info
      [userProfileInputs]="userProfileInputs"
      #basicInfo
      [thisFormGroup]="userProfileBasicInfoFormGroup"
    ></app-user-profile-basic-info>

    <app-user-description
      [userProfileInputs]="userProfileInputs"
      #userDescriptions
      [thisFormGroup]="userDescriptionsFormGroup"
    ></app-user-description>

    <app-user-geo-locations
      [userProfileInputs]="userProfileInputs"
      #userGeoLocations
      [parentFormGroup]="userGeoLocationsFormGroup"
    ></app-user-geo-locations>

    <app-user-other-profiles
      [userProfileInputs]="userProfileInputs"
      #userOtherProfiles
      [parentFormGroup]="formGroup"
    ></app-user-other-profiles>


    <app-user-skills
      [ngClass]="{hidden: ! showUserSkillsSection}"
      [userProfileInputs]="userProfileInputs"
      #userSkills
      [parentFormGroup]="formGroup"
      [thisFormGroup]="userSkillsFormGroup"
    ></app-user-skills>

    <h2 id="actionable-interests">Actionable Interests</h2>

    <app-user-interests
      [userProfileInputs]="userProfileInputs"
      #userInterests
      [thisFormGroup]="userInterestsFormGroup"
    ></app-user-interests>





  <label for="checkPrivacity" *ngIf="userProfileInputs.isEditable">
    <input class='form-control' type="checkbox" name="checkPrivacity" id="checkPrivacity" [(ngModel)]="checkPrivacityValue">
    He leido y acepto la <a routerLink="/about" class="privacityLink">Política de Privacidad</a> y tengo 16 años o más.
  </label>

</form>

  <p
    *ngIf="userProfileInputs.isEditable"
  >
    <button
      class="save-fab"
      appHideOnScroll
      (click)="scrollToSave()"
      mat-fab
    >
      <mat-icon aria-label="Goto save">
        cloud_upload
      </mat-icon>
    </button>

    <button
      class="saveProfileButton"
      #saveProfileButton
      id="saveProfile"
      mat-button
      mat-raised-button
      color="primary"
      (click)="save()"
      [disabled]="! hasUnsavedChanges()"
    >
      Save <i>(Cmd/Ctrl+S)</i>
    </button>
  </p>

  <!--<button mat-icon-button *ngIf="hasUnsavedChanges()" color="primary">-->
    <!--<mat-icon (click)="saveProfileButton.click()">save</mat-icon>-->
  <!--</button>-->

</ng-template>

