@keyframes ChipAnimation {
  0% {
    opacity: 0.0;
    transform: scale(0) rotateZ(0deg); // rotateY(0)
  }
  50% {
    transform: scale(1.2) rotateZ(10deg); // rotateY(45deg)
  }
  100% {
    opacity: 1.0;
    transform: scale(1) rotateZ(0deg); // rotateY(0)
  }
}

//.tag-chip {
.mat-chip {
  transition: all 0.5s ease-in-out;
  //animation: ChipAnimation 0.5s ease-in-out;
  //box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);

  height: 18px !important;
  vertical-align: middle !important;
  margin-bottom: 8px !important;
  margin-right: 6px !important;
  margin-left: 0 !important;
  // margin is overwritten by:
  // >.mat-chip:not(.mat-basic-chip)+.mat-chip:not(.mat-basic-chip) {
  // > margin: 0 0 0 3px;
  // >}
  //transform-style: preserve-3d;
}

.tag-chip:hover {
  transform: scale(1.15);
}

a {
  text-decoration: none;
  color: black;
}

@mixin highlight-border {
  border: 1px solid rgba(0, 0, 0, 0.35);
}

.tag-chip-highlight-symmetric {
  background-color: #ffd530;
  @include highlight-border;
}

.tag-chip-highlight-supplyDemandSame {
  background-color: #30ff30;
  @include highlight-border;
}

.tag-chip-highlight-supplyDemandMatch {
  background-color: #b0b0FF;
  @include highlight-border;
}


// =============  2:

.hexagon {
  position: relative;
  width: 900px;
  height: 173.21px;
  background-color: #64C7CC;
  margin: 86.60px 0;
  border-radius: 1em/.5em;

}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-radius: inherit;

  border-left: 150px solid green;
  border-right: 150px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 86.60px solid #64C7CC;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 86.60px solid #64C7CC;
}

