<md-chip
  [ngClass]="{
    'tag-chip': true,
    'tag-chip-highlight-symmetric': shouldHighlightSymmetric()
  }"
>
  <div style="display:table-cell; vertical-align: middle">
    <ng-template [ngIf]="tag.tagEntry.logo" >
      <img style="width: 18px; height: 18px; vertical-align: middle"
           src="{{tag.tagEntry.logo}}" onerror="this.style.display='none';"/>&nbsp;
    </ng-template>
    <ng-template [ngIf]="! tag.tagEntry.logo" > <!-- hack for "vertical-align: middle" slightly shifted if no img -->
      <img style="width: 0px; height: 18px; vertical-align:middle"
           src="assets/images/logos/git.svg" onerror="this.style.display='none';"/>&nbsp;
    </ng-template>
    <!--<i *ngIf="editable"-->
    <!--class="ion-close-circled"-->
    <!--style="cursor:pointer; color: rgba(0, 0, 0, 0.54); font-size: 20px"-->
    <!--(click)=deleteTag(chip)></i>-->

    <!--<div style="vertical-align: middle; display: inline; height: 100%">-->
    <span style="display: inline; height: 100%; vertical-align: middle">
      <a [routerLink]="'/topic/'+tag.tagEntry.id">{{tag.tagEntry.name}}</a>
      &nbsp;
      <!--<span *ngIf="shouldHighlightSymmetric()">SYM_MATCH</span>-->
    </span>
    <i *ngIf="editable"
       class="ion-close-circled"
       style="vertical-align: middle; cursor:pointer; color: rgba(0, 0, 0, 0.30); font-size: 18px"
       (click)="tagListModel.deleteTag(tag)"></i>
    <!--<i *ngIf="! editable"-->
    <!--class="ion-close-circled"-->
    <!--style="vertical-align: middle; display: block; width: 0px;"-->
    <!--&gt;</i>-->

    <!--</div>-->
    <!--<div style="vertical-align: middle; display: table-cell; height: 100px; width: 300px">{{chip.tagEntry.name}}</div>-->
    <!--{{chip.tagEntry.name}}-->
  </div>
</md-chip>
