<div>
  <h2 id=contribute>Looking for volunteers for:</h2>
  <ul>
    <li>Integration with Meetup.com
      <ul>
        <li>Attendees list?</li>
        <li>Groups</li>
      </ul>
    </li>
    <li>Integration with LinkedIn.com</li>
    <li id="contribute-topic-details">Filling more details/logos for topics</li>
    <li>Social
      <ul>
        <li>Like button</li>
        <li>Social media pages (Twitter, Facebook, LinkedIn, Google+)</li>
        <li>Share/send via social media</li>
      </ul>
    </li>
    <li>Upload of photo(s) (via drag&drop)</li>
    <li>Implement sending things like "I would like to meet you" via e-mail, e.g. via SendGrid</li>
    <li>Mobile optimizations
      <ul>
        <li>Responsive</li>
        <li>CSS</li>
        <li>Flex, etc.</li>
      </ul>
    </li>
    <li>Stack Overflow integration
      <ul>
        <li>topic tags</li>
        <li>Users</li>
        <li>reputation</li>
      </ul>
    </li>
  </ul>
</div>
