
<!-- Quick "port" to PeopleMatcher codebase. No bootstrap though -->

<div class="container">
  <h1>
    Users Map
  </h1>
  <div class="row">
    <div class="col-xs-12">
      <h2>This is your current location: </h2>
      <div *ngIf="coordinates">
        <p>Latitude: {{coordinates.latitude}}</p>
        <p>Longitude: {{coordinates.longitude}}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div *ngIf="coordinates">
        <agm-map
          [latitude]="coordinates.latitude"
          [longitude]="coordinates.longitude"
          [zoom]="15">
          <agm-marker
            [latitude]="coordinates.latitude"
            [longitude]="coordinates.longitude"
            [label]="'Draggable'"
            >
          </agm-marker>
          <ng-template ngFor let-userLocation [ngForOf]="allUsersGeoLocationsFlattened">
            <agm-marker
              [latitude]="userLocation.latitude"
              [longitude]="userLocation.longitude"
              [label]="'User'"
            ></agm-marker>
          </ng-template>
          <!--<agm-marker *ngFor="let userCoords of usersCoords"-->
            <!--[latitude]="userCoords.geoCoords.latitude"-->
            <!--[longitude]="userCoords.geoCoords.longitude"-->
            <!--[label]="userCoords.user.displayName"-->
            <!--&gt;-->
          <!--</agm-marker>-->

          <!--<agm-circle-->
            <!--[latitude]="coordinates.latitude"-->
            <!--[longitude]="coordinates.longitude"-->
            <!--[radius]="300"-->
            <!--fillColor="#4885ed"-->
          <!--&gt;</agm-circle>-->
        </agm-map>
      </div>
    </div>
  </div>
</div>

